@charset "UTF-8";
@import "vars";
@import "font";
@import "reset";
@import "base";
@import "public";

body {
    background-color : $page_bg;
    color            : $color-default;
}

.wrap {
    @extend %wrap;
}

.header {
    .header-inner {
        @include centerBlock($page_width);
        height : 120px;
    }
    .site-logo {
        float      : left;
        margin-top : 16px;
    }
    .hotline {

    }
    @at-root .hotline {
        label {

        }
        span {

        }
    }
    @at-root .nav_main {

        .nav__item {
            & > a {

            }
            &.current, &.active {

            }
            .submenu {
                .submenu__item {
                    & > a {

                    }
                }
            }
        }
    }
}


