%clearfix {
    &:before,
    &:after {
        content : "";
        display : table;
        font    : 0/0 a;
    }
    &:after {
        clear : both;
    }
}

/* one line */
%text-overflow {
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
}

%box-shadow-default {
    box-shadow: 0 3px 8px rgba(109, 78, 78, 0.82);
}