@charset "UTF-8";
@import "vars";
@import "font";
@import "reset";
@import "base";
@import "animate";
@import "public";

.wrap {
    @extend %wrap;
}

body, html {
    height : 100%;
}

.page {
    width  : 100%;
    height : 100%;
    &.home {
        color      : $color-default;
        background : url(../images/home_bg_1.jpg) no-repeat center top #010101;
    }
    &.inner {
        .header {
            position : static;
            height   : 100px;
            .nav a {
                color : #4c4d4d !important;
            }
        }
        .footer {
            position         : static;
            background-color : rgba(0, 0, 0, 0.8);
            .indicator {
                display : none;
            }
        }
        &.age {
            text-align : center;
            height     : 100%;
            background : url(../images/age_bg_2.png) repeat-x left bottom,
            url(../images/age_bg.jpg) no-repeat center center;
            & > .inner {
                @extend %margin-overlap;
                @include centerBlock();
            }
            .text {
                overflow : hidden;
                img {
                    max-height : 100%;
                }
            }
            .btns {
                padding-right : 3%;
                & > .btn {
                    display         : inline-block;
                    width           : 207px;
                    height          : 100%;
                    background      : no-repeat center center;
                    background-size : auto 100%;
                    @include transition();
                    &.btn_yes {
                        background-image    : url(../images/age_btn_left.png);
                        background-position : right center;
                        margin-right        : 2%;

                    }
                    &.btn_no {
                        background-image    : url(../images/age_btn_right.png);
                        background-position : left center;
                    }
                    &:hover {
                        transform : translate(0, -2px);
                    }
                }
            }
        }
    }
}

.header {
    position : fixed;
    z-index  : 2;
    top      : 0;
    left     : 0;
    width    : 100%;
    & > .inner {
        @include centerBlock();
        height : 90px;
    }
    .site-logo {
        float  : left;
        margin : 32px 0 0 4px;
    }
    .nav {
        float      : right;
        margin-top : 60px;
        * {
            @include transition();
        }
        & > .nav__item {
            float       : left;
            margin-left : 16px;
            & > a {
                color     : #d6d6d6;
                font-size : 12px;
            }
            &.active > a, &:hover > a {
                font-weight : bold;
                font-size   : 14px;
            }
        }
    }
}

.banner_page {
    line-height : 1;
    background  : url(../images/banner_page.jpg) no-repeat center center;
    .inner {
        @include centerBlock($page_width);
        height : 200px;
    }

    .title {
        float       : left;
        color       : #ffffff;
        font-size   : 36px;
        font-family : 'FZXiDengXian-Z06S', $fontFamily_default;
        margin-top  : 70px;
        &:after {
            content          : "";
            display          : block;
            width            : 30px;
            height           : 4px;
            background-color : $color_hot;
            margin-top       : 20px;
        }
        .en {
            font-size   : 26px;
            font-family : "RocketScript", $fontFamily_default;
            &:before {
                content          : "";
                display          : inline-block;
                width            : 20px;
                height           : 24px;
                border-right     : solid 1px #ffffff;
                transform        : rotate(30deg);
                transform-origin : right bottom;
                margin-right     : 24px;
            }
        }
    }
}

.main {
    @at-root .main_home {
        @include centerBlock();
        position : relative;
        z-index  : 1;
        height   : 100%;
        overflow : hidden;
        .home-text {
            position : absolute;
            top      : 38%;
            left     : 80px;
        }

        .hotline {
            position   : absolute;
            top        : 70%;
            width      : 100%;
            text-align : center;
            color      : #ffffff;
            & > p:nth-of-type(2) {
                margin-top : 12px;
            }
        }
    }

    @at-root .main_page {
        @include centerBlock();
        @extend %margin-overlap;
        padding-bottom : 100px;
        min-height     : 600px;

        .slogan {
            position : relative;
            height   : 108px;
            & > .text {
                position : absolute;
                top      : 33px;
                left     : -1px;
            }
            & > .pic {
                position : absolute;
                bottom   : 22px;
                right    : -12px;
            }
        }

        .pagination {
            margin : 60px 0 0 0;
            float  : right;
        }

        @at-root .main_news-detail {
            .article {
                .hd {
                    border-top : solid 1px #dbcece;
                }
                .ft {
                    border : none 0;
                }
            }
        }

        @at-root .main_contact-us {
            position : relative;
            .contact {
                margin-top : 68px;
                .title {
                    color         : $color_title_o;
                    font-size     : 24px;
                    margin-bottom : 16px;
                    padding-left  : 11px;
                    border-left   : solid 4px #2a0302;
                    line-height   : 1;
                }
                .item {
                    font-size   : 16px;
                    line-height : 40px;
                    label {
                        display      : inline-block;
                        color        : $color_title_o;
                        min-width    : 74px;
                        margin-right : 8px;
                        &:after {
                            content : ":";
                            float   : right;
                        }
                    }
                    .link {
                        color          : $color_default;
                        padding-bottom : 2px;
                        border-bottom  : dashed 1px $color_aside;
                        &:hover, &:focus {
                            color        : $color_hot;
                            border-color : $color_hot;
                        }
                    }
                }
            }

            .slogan-pic {
                position : absolute;
                top      : 36px;
                right    : 1px;
            }

            .map_baidu {
                border     : solid 1px #6f5e65;
                height     : 460px;
                overflow   : hidden;
                margin-top : 28px;
            }
        }

        @at-root .main_news-list {
            .media-list {
                .media {
                    &:hover {
                        background-color : #f0ebec !important;
                    }
                    .media-body {
                        .cont {
                            //height: 90px;
                        }
                    }
                    .media-left {
                        & + .media-body {
                            width : 870px;
                        }
                    }
                }
            }

        }

        @at-root .main_about-us {
            .article {
                .bd {
                    border-top: solid 1px #dbcece;
                    padding-top: 32px;
                    .section {
                        margin-bottom: 60px;
                    }
                    .title {
                        font-size: 24px;
                        color: $color_hot;
                        line-height: 1;
                        border-left : solid 4px $color_hot;
                        padding-left: 10px;
                        margin: 20px 0 20px 0;
                    }
                    .list {
                        @extend %clearfix;
                        width: 105%;
                        li {
                            float: left;
                            width: 375px;
                            height: 250px;
                            text-align: center;
                            overflow: hidden;
                            margin: 0 20px 20px 0;
                            img {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position         : fixed;
    z-index          : 2;
    bottom           : 0;
    left             : 0;
    height           : 60px;
    width            : 100%;
    color            : #767676;
    background-color : rgba(0, 0, 0, 0.6);
    * {
        @include transition();
    }
    & > .inner {
        @include centerBlock();
    }
    .indicator {
        position    : absolute;
        width       : 42px;
        height      : 50px;
        background  : url(../images/icon_arrow.png) no-repeat center 0;
        left        : 50%;
        top         : -20px;
        margin-left : -20px;
        opacity     : 0.6;
        &:hover {
            background-position : center 10px;
            opacity             : 1;
        }
    }
    .copyright {
        float       : left;
        line-height : 60px;
        & > a {
            color         : #767676;
            border-bottom : dotted 1px #767676;
            &:hover {
                color        : #ffffff;
                border-color : #ffffff;
            }
        }
    }
    .share {
        float      : right;
        margin-top : 13px;
        & > a {
            display     : inline-block;
            width       : 34px;
            height      : 34px;
            background  : no-repeat center center;
            margin-left : 13px;
            &:hover {
                transform : translate(0, -2px);
            }
            &.qq {
                background-image : url(../images/icon_share_1.png)
            }
            &.baidu {
                background-image : url(../images/icon_share_2.png)
            }
            &.sina {
                background-image : url(../images/icon_share_3.png)
            }
            &.weibo {
                background-image : url(../images/icon_share_4.png)
            }
            &.weixin {
                background-image : url(../images/icon_share_5.png)
            }
            &.douban {
                background-image : url(../images/icon_share_6.png)
            }
        }

    }
}