/* reset */
.slideContainer * {
    padding: 0;
    margin: 0;
}
.slideContainer a {text-decoration: none; }
.slideContainer img {vertical-align: middle; }
.slideContainer a img {border: 0 none; }
.slideContainer li {
    list-style: none;
}
.slideContainer h1, 
.slideContainer h2, 
.slideContainer h3{
    font-weight: normal;
    font-size: 100%;
}

/* slide */
.slideContainer {
    width: 600px;
    height: 180px;
    border: solid 1px #d9d9d9;
    position: relative;
}
.slideContainer .page-list-wrap {
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 1px;
}
.slideContainer .page-list {
    overflow: hidden;
    width: 1000%;
    position: absolute;
}

.slideContainer .page-list .page {
    float: left;
    /*width: 2.5%;*/
    /*height: 180px;*/
    border-right: solid 1px #d9d9d9;
    display: inline-block;
    text-align: center;
    position: relative;
}
.slideContainer .page-list .page img {
    width: 96%;
    vertical-align: middle;
    cursor: pointer;
}
.slideContainer .page-list .page .hook {
    height: 100%;
    width: 0;
    vertical-align: middle;
    display: inline-block;
}
.slideContainer .page-list .page:hover .view {
    display: block;
}
.slideContainer .page-list .page .view {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 32px;
    height: 32px;
    background: url(../images/view_normal.png) no-repeat center center;
    cursor: pointer;
}
.slideContainer .page-list .page .view:hover {
    background-image: url(../images/view_hover.png);
}

.slideContainer .tab {
    position: relative;
}
.slideContainer .tab .control {
    
}
.slideContainer .tab .control .btn {
    position: absolute;
    bottom: 80px;
    z-index: 1;
    display: none;
    margin-bottom: -16px;
    width: 28px;
    height: 62px;
    line-height: 62px;
    background: url(../images/transparent_20.png);
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: simsun;
}
.slideContainer:hover .tab .control .btn {
    display: block;
}
.slideContainer .tab .control .btn:hover {
    background: url(../images/transparent_40.png);
}
.slideContainer .tab .control .btn-prev {
    left: 0;
}
.slideContainer .tab .control .btn-next {
    right: 0;
}














