@charset "UTF-8";

.wrap { width: 1200px; margin: 0 auto;}
/* 清除浮动 */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

body {background-color: #fff; }
a { text-decoration: none; }



/* =top */
.top  { height: 41px; line-height: 41px; border-bottom: 1px solid #dddddd; color: #404040; font-size: 12px; overflow:hidden;}
.top-text { float: left; }
.top-tel-label { }
.top-tel-cont { font-size: 18px; font-family: "Microsoft Yahei"; line-height: 18px; vertical-align: text-bottom; }
.top-stime-label { margin-left: 14px; }
.top-stime-cont { }
.top-icon { float: left; margin-top: 6px; margin-left: 18px; line-height: 1;}
.top-icon a { display: inline-block; width: 25px; height: 25px; border-radius: 26px; border: solid 1px #dddddd;background-image: url("../images/top_icon.png"); background-repeat: no-repeat; }
.top-icon a:hover { opacity: 0.8; }
.top-icon-sina { background-position: 0 0; }
.top-icon-wechat { background-position: -35px 0; margin-left: 9px; }
.top-menu { float: right; }
.top-menu-item { float: left; height: 40px; padding: 0 20px; color: #404040;text-decoration: none; border-right: 1px solid #dddddd; }
.top-menu-item:hover { color: #c8a063; }
.top-menu-item.top-reg { color: #c8a063; border-right: 0 none; }

/* =header */
.header { height: 92px; border-bottom: 1px solid #dddddd; }
.header-inner { height: 100%; }
.sitelogo-wrap { float: left; margin-top: 12px; }
.sitelogo { display: block; width: 199px; height: 66px; background: url("../images/logo.png") no-repeat; }
.home-nav { float: left; font-family: "Microsoft YaHei"; font-size: 16px; }
.home-nav .nav-list { margin-left: 284px; margin-top: 36px; }
.home-nav .list-item { float: left; margin-right: 64px; line-height: 1; }
.home-nav .list-item a { color: #1c1c1c; }
.home-nav .list-item a:hover { color: #c8a063; }
.home-nav .list-item .sub-indicator { display: inline-block; height: 10px; width: 12px; background: url("../images/header_icon.png") no-repeat 0 0; margin-left: 6px; }
.header-more { float: right; color: #c8a063; height: 16px; line-height: 1; padding-left: 20px; margin-top: 37px; margin-right: 20px; background: url("../images/header_icon.png") no-repeat 0 -34px; }

/*page-banner*/
.page-banner{ height:225px;}
.page-banner .wrap{ height:225px; position:relative;}
.page-banner .position{ height:20px; line-height:20px; position:absolute; right:110px; top:100px; color:#fff;}
.page-banner .position span{ color:#fff; padding:0 10px;}

/* =banner */
.banner { height: 450px; position: relative;}
.focus { height: 100%; }
.focus-info-inner { height:100%; overflow:hidden;}
.focus-info-inner ul{ height:100%; width:200%;}
.focus-info-inner ul li{ height:100%; width:50%; position:relative; float:left; overflow:hidden;}
.focus-info-inner ul li a{ position:absolute; right:0px; top:0px; display:block; width:100%; height:100%;}

.focus-banner { position: relative; }
.focus-left-btn,.focus-right-btn { position: absolute; width: 92px; height: 236px; background: url("../images/scroll_btn.png") no-repeat; bottom: 109px; opacity: 0.1; }
.focus-left-btn:hover,.focus-right-btn:hover { opacity: 1; }
.focus-left-btn { background-position: 0 0; left: 0; }
.focus-right-btn { background-position: 0 -250px; right: 0; }

.banner-login-wrap { position: absolute; z-index: 2; top: 63px; left: 50%; margin-left: 245px; }
.banner-login { width: 305px; }
.banner-login .login-head { height: 50px; }
.banner-login .head-title { float: left; width: 50%; font-family: "Microsoft Yahei"; font-size: 18px; text-align: center; color: #fff; line-height: 50px; background: url("../images/login_bg_1.png"); }
.banner-login .head-title.another { background-image: url("../images/login_bg_2.png"); }
.banner-login .login-body { height: 237px; background: url("../images/login_bg_1.png"); }
.banner-login .login-body input { border: 0 none; }
.banner-login .login-body-inner { width: 263px; margin: 0 auto; padding-top: 37px; }
.banner-login .username,
.banner-login .password { box-sizing: border-box; padding-left: 10px; height: 38px; line-height: 38px; width: 100%; font-size: 16px; }
.banner-login .username { }
.banner-login .password { margin-top: 12px; }
.banner-login .forgetpasswd { line-height: 36px; font-size: 16px; text-align: right; }
.banner-login .forgetpasswd a { color: #fff; }
.banner-login .submitbtn { width: 100%; background-color: #c8a063; text-align: center; height: 39px; line-height: 39px; color: #fff; font-size: 22px; }

/* =footer */
.footer { border-top: 1px solid #f5f0ed; height: 319px; background-color: #00a1f1; line-height: 1; color: #ffffff; font-family: "Microsoft Yahei"; }
.footer-inner { padding-top: 32px; }
.footer .link-groups { overflow: hidden; }
.footer .link-group { float: left; font-family: "Microsoft Yahei"; margin-left: 86px; }
.footer .link-group .link-title { font-size: 16px; font-weight: bold; color: #fffffa; margin-bottom: 18px; }
.footer .link-group .link-item { font-size: 12px; margin-bottom: 13px; }
.footer .link-group .link-item a { color: #faf2ef; }
.footer .link-group .link-item a:hover { color: #c8a063; }

.footer .client-service { float: left; margin-left: 62px; }
.footer .cs-title { font-size: 24px; margin-bottom: 28px; }
.footer .cs-item { float: left; margin-right: 20px; opacity: 0.9; }
.footer .cs-item:hover { opacity: 1; }

.footer .authentication { text-align: center; margin-top: 46px; }
.footer .authentication a { margin: 0 8px; }
.footer .authentication a img { }

.footer .copyright { margin-top: 20px; padding-bottom: 1px; }
.footer .copyright p { text-align: center; font-family: Arial; margin-bottom: 10px; }
