/* policy */
.main_box{
	width:754px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:45px;

}
.text_hd{
  font-size: 19px;
  font-family: "Microsoft YaHei";
  color: rgb( 102, 102, 102 );
  line-height: 1.368;
  width: 678px;
  height: 123px;
  padding-left:40px;
  margin-top:30px;
  margin-bottom:34px;
  background-image: url("../images/policy_icon.png");
    background-repeat: no-repeat;



}
.text_bt {
  font-size: 20px;
  font-family: "Microsoft YaHei";
  color: rgb( 31, 31, 31 );
  padding-left:40px;
    background-image: url("../images/policy_icon1.png");
    background-repeat: no-repeat;


  
}
.line{
	height:1px;
	width:754px;
	background-color:#dddddd;
  margin-top: 20px;
	margin-bottom:20px;


}

/* wealth-achievement */
.main_top{width:100%;height:190px;background-color: #fafafa;}

.main_box1{
  width:1164px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;


}
.text_box1{
  width: 338px;
  height:86px;
  margin-top: 54px;
  float: left;

}
.text_box2{
  width: 312px;
  height:86px;
  margin-top: 54px;
  float: left;

  margin-left: 70px;
}
.text_box3{
  margin-left: 126px;
  width: 310px;
  height:86px;
  margin-top: 54px;
  float: left;

}

.sz{
  font-size: 48px;
  font-family: "Microsoft YaHei";
  color: rgb( 102, 102, 102 );
}
.sz_db{
  font-size: 48px;
  font-family: "Microsoft YaHei";
  color: rgb( 200, 160, 99 );

}
.wz{
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: rgb( 78, 78, 78 );
}
.cfcj_boxx{
	width:1200px; margin:0 auto;
  height: 270px;padding:160px 0 0 0;
  background: url("../images/cfcj.png") no-repeat 350px center;

}
.cfcj_box{
  margin-left: 70px;
  width:1048px;
  height: 78px;
}
span{
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: rgb( 102, 102, 102 );

}

.sz_cfcj{
  float: left;
  font-size: 48px;
  font-family: "Microsoft YaHei";
  color: rgb( 200, 160, 99 );
}
.sz_cfcj4{
  margin-left:160px;
  float: left;
  font-size: 52px;
  font-family: "Microsoft YaHei";
  color: rgb( 241, 192, 73 );
}
.sz_cfcj3{
  margin-left: 180px;
  float: left;
  font-size: 52px;
  font-family: "Microsoft YaHei";
  color: rgb( 241, 145, 73 );
}
.sz_cfcj2{
  margin-left: 195px;
  float: left;
  font-size: 52px;
  font-family: "Microsoft YaHei";
  color: rgb( 236, 105, 65 );
}


.sz_cfcj1{
  clear: both;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: rgb( 102, 102, 102 );
}

.cfcj{
  float: right;
}

.tbx_wz3 {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: rgb(102, 102, 102);
  float: right;
  margin-top:90px;

}
.tbx_wz2 {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: rgb(102, 102, 102);
  float: right;
  margin-top:90px;
  margin-right: 146px;

}
.tbx_wz1 {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: rgb(102, 102, 102);
  float: right;
  margin-top:90px;
  margin-right: 146px;


}

.ljzc{
  width: 100%;
  height: 268px; overflow:hidden;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center center;
}







.ljzc_wz{width:320px; height:60px; margin:100px auto 0 auto;}
.ljzc_wz a{ display:block;width:320px; height:60px; line-height:60px; text-align:center; border:#c8a063 2px solid;border-radius:30px; font-size:30px; color:#c8a063; font-weight:bold;}
.ljzc_wz a:hover{ background:#c8a063; color:#fff;}


