/*Reset*/
html, body {
  padding: 0;
  margin: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

body, button, input, textarea {
  font: 12px/1.5 Tahoma, Helvetica, Arial, 'Microsoft YaHei', sans-serif; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

fieldset, img {
  border: 0;
  vertical-align: top; }

button, input, textarea {
  vertical-align: middle;
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address, caption, cite, code, dfn, em, i, th, var {
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #7f7f7f; }

html {
  overflow: hidden; }

body {
  color: #666666; }

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.clearfix {
  float: none;
  display: block;
  height: 0;
  clear: both; }

.hook {
  display: inline-block;
  *display: inline;
  width: 0;
  height: 100%;
  overflow: hidden;
  margin-left: -1px;
  font-size: 0;
  line-height: 0; }

.hook, .block_render_to_inline-block_for_ie67 {
  display: inline-block;
  vertical-align: middle;
  *zoom: 1;
  *display: inline; }

.workbench-container {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%; }

.page-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 98%; }
  .page-area .page-list {
    height: 100%; }
    .page-area .page-list .page {
      width: 100%;
      height: 100%;
      position: absolute;
      left: -900%;
      top: 0; }
      .hidden {
        visibility: hidden; }

.sliders-nav {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 1;
  border-top: solid 1px #d0d0d0;
  background: url(../images/slider_nav_bg.png) repeat-x 0 0;
  text-align: center; }
  .sliders-nav .sliders {
    line-height: 16px; }
    .sliders-nav .sliders a {
      position: relative;
      display: inline-block;
      line-height: 16px;
      width: 120px;
      border-left: solid 1px #e1e1e1;
      border-right: solid 1px #e1e1e1;
      padding: 10px 0;
      margin-left: -1px; }
      .sliders-nav .sliders a i {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #74a0da; }
      .sliders-nav .sliders a.selected {
        background: url(../images/sliders_nav_item.png) repeat-x;
        color: #74a0da; }
        .sliders-nav .sliders a.selected i {
          display: block; }
      .sliders-nav .sliders a:hover {
        background: url(../images/sliders_nav_item.png) repeat-x; }

.sliders-control {
  position: fixed;
  bottom: 0;
  width: 54px;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  display: none; }
  .sliders-control .inner {
    width: 100%;
    height: 100%; }
  .sliders-control:hover {
    background: url(../images/transparent_06.png); }
  .sliders-control.active {
    display: block; }

.sliders-left {
  left: 0; }
  .sliders-left .inner {
    background: url(../images/slider_left.png) no-repeat center; }
  .sliders-left:hover .inner {
    background-image: url(../images/slider_left_hover.png); }

.sliders-right {
  right: 0; }
  .sliders-right .inner {
    background: url(../images/slider_right.png) no-repeat center; }
  .sliders-right:hover .inner {
    background-image: url(../images/slider_right_hover.png); }

.workbench {
  height: 100%;
  width: 100%;
  text-align: center; }
  .workbench .workbench-body {
    display: inline-block;
    *display: inline;
    width: 90%;
    height: 80%;
    border: solid 2px #e2e2e2;
    text-align: left; }
  .workbench .workbench-body {
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
    *display: inline; }
  .workbench .page-links {
    background: #f1f1f1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M0BrLToAAAAB1JREFUCJlj/Pz5MwMDAwMDA8vv37+hLFZWVggLAIXaBeNx9bd+AAAAAElFTkSuQmCC); }
    .workbench .page-links .subsys-list {
      height: 100%; }
    .workbench .page-links .subsys {
      float: left;
      width: 33.3%;
      height: 50%;
      border-left: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      margin-left: -1px; }
      .workbench .page-links .subsys .subsys-heading {
        font-size: 14px;
        border-left: 3px solid #74a0da;
        padding-left: 7px; }
        .workbench .page-links .subsys .subsys-heading > a {
          color: #727272; }
      .workbench .page-links .subsys .subsys-body {
        *zoom: 1;
        margin-top: 6px; }
        .workbench .page-links .subsys .subsys-body .link-item {
          *zoom: 1;
          position: relative;
          z-index: 1;
          padding: 4px 6px;
          background-color: transparent;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent; }
          .workbench .page-links .subsys .subsys-body .link-item span {
            color: #016bce; }
            .workbench .page-links .subsys .subsys-body .link-item span i {
              font-style: normal;
              margin-right: 10px; }
            .workbench .page-links .subsys .subsys-body .link-item span a {
              color: #016bce; }
          .workbench .page-links .subsys .subsys-body .link-item b {
            position: absolute;
            z-index: 10;
            top: 7px;
            *top: 5px;
            right: 14px;
            width: 4px;
            height: 14px;
            font: 400 12px/14px consolas; }
          .workbench .page-links .subsys .subsys-body .link-item .submenu {
            display: none;
            position: absolute;
            z-index: 1;
            left: 100%;
            top: -1px;
            width: 60%;
            padding-bottom: 10px;
            background-color: #f8f8f8;
            border: solid 1px #dbdbdb;
            border-left: none 0; }
            .workbench .page-links .subsys .subsys-body .link-item .submenu .submenu-item {
              margin: 4px 6px 0 6px; }
              .workbench .page-links .subsys .subsys-body .link-item .submenu .submenu-item > a {
                color: #016bce; }
                .workbench .page-links .subsys .subsys-body .link-item .submenu .submenu-item > a:hover {
                  color: #ff5a00; }
          .workbench .page-links .subsys .subsys-body .link-item:hover {
            background-color: #f8f8f8;
            z-index: 10;
            border-color: #dbdbdb; }
            .workbench .page-links .subsys .subsys-body .link-item:hover .submenu {
              display: block; }
            .workbench .page-links .subsys .subsys-body .link-item:hover span > a {
              color: #ff5a00; }

/*# sourceMappingURL=style.css.map */
