@charset "utf-8";
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.triangle-down {display:inline-block;width:0;height:0;overflow:hidden;line-height:0;font-size:0; vertical-align:middle;
    border-top:7px solid #030303;
    border-bottom:0 none;
    border-left:7px solid transparent;
    border-right:7px solid transparent; 
    _color:#030303;
    _filter:chroma(color=#030303);
}
a, a:hover { text-decoration: none; }
body { background-color: #000000; font-size: 14px; font-family: "Microsoft Yahei", "宋体"; }
.wrap { width: 1000px; margin: 0 auto;}
.page { }

/* header */
.header { border-bottom: 4px solid #3e2712; position: relative; background-color: #020202;}
.header-inner { box-sizing: border-box; height: 104px; padding-top: 22px; }
.logo-wrap { float: left; }
.logo-link { }
.logo { }
.nav { float: right; margin-top: 33px; }
.nav-list { }
.nav-list .list-item { float: left; line-height: 29px; padding-bottom: 20px; position: relative; }
.nav-list .list-item.separator { color: #585b5c; padding: 0 9px; }
.nav-list .list-item .list-item-link { box-sizing: border-box; color: #999999; display: block; height: 29px; }
.nav-list .list-item.active .list-item-link { color: #fc9e4c; border-top: 1px solid #996334; border-bottom: 1px solid #996334; line-height: 27px; background: url("../images/nav_item_bg.png") no-repeat right top; }
.nav-list .list-item.current .list-item-link { color: #fc9e4c; }
.nav-list .triangle-down { display: none; position: absolute; z-index: 4; bottom: -7px; left: 21px; }
.submenu-container { filter\0:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D1D2873F', endColorstr='#D1D2873F'); filter\9:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#D1D2873F', endColorstr='#D1D2873F'); background-color:rgba(210,135,63,0.82); position: absolute; z-index: 3; width: 100%; bottom: -32px; left: 0; display: none; }
.submenu { height: 32px; line-height: 32px; text-align: center; }
.submenu .submenu-item { display: inline-block; color: #1a1a1a; margin: 0 8px; }
.submenu .submenu-item:hover { color: #FFF; }

/* banner */
/*.banner { height: 654px; background: url("../images/banner_home.jpg") no-repeat 18px 25px; }*/
.banner-home { overflow: hidden; height: 640px; background: url("../images/banner_bg.jpg") no-repeat center bottom;background-color: #000; position: relative; padding-top: 16px; }
.banner-home img { position: absolute; }
.banner-text-left { left: 18px; bottom: 91px; }
.banner-text-right { right: 41px; bottom: 282px; }
.banner-text-bottom { left: 61px; bottom: 36px; }

/* main */
.home-mod { }
.home-mod .mod-head { box-sizing: border-box; height: 132px; padding-top: 46px; }
.home-mod .head-title { width: 600px; float: left; height: 85px; background: url("../images/css_sprite_home.png") no-repeat; }

.home-mod .head-more { margin-top: 47px; display: block; float: right; background: url("../images/css_sprite_home.png") no-repeat; }
.home-mod .head-more:hover { opacity: 0.8; }
.home-mod .mod-body { }

/* home-shealth */
.home-shealth { background-color: #1a1a1a; height: 546px; }
.home-shealth .home-mod .head-title { background-position: 0 0; }
.home-shealth .home-mod .head-more { width: 120px; height: 30px; background-position: 0 -110px; }
.shealth-list { overflow: hidden; width: 110%; margin-top: 80px; }
.shealth-list .list-item { float: left; margin-right: 80px; padding-top: 2px; cursor: pointer;}

.shealth-list .pic-wrap { width: 160px; height: 160px; border: 1px dashed #505050; border-radius: 180px; padding: 9px;}
.shealth-list .pic { display: block; width: 100%; height: 100%; border-radius: 160px; background: url("../images/sport_health_pic_1.jpg") no-repeat center center; background-size: 100% auto; }
.shealth-list .item-title { color: #b2b2b2; text-align: center; font-size: 20px; line-height: 20px; margin-top: 32px; }
.shealth-list .list-item.active .pic-wrap { border-style: solid; border-color: #de6a30; }
.shealth-list .list-item.active .item-title { color: #e89146; }

/* home-ourteam */
.home-ourteam { background: url("../images/ourteam_colum_bg.jpg") no-repeat center center;  height: 920px;}
.home-ourteam .home-mod .head-title { background-position: 0 -170px; }
.home-ourteam .home-mod .head-more { width: 93px; height: 27px; background-position: -231px -112px; }
.home-ourteam .ourteam-list { margin-top: 48px; width: 110%; }
.ourteam-list .list-item { display: inline-block; cursor: pointer; margin-right: 40px; margin-bottom: 40px; }
.ourteam-list .item-forth { margin-left: 176px; }
.ourteam-list .member-pic { }
.ourteam-list .member-name { text-align: center; color: #b2b2b2; font-size: 20px; line-height: 20px; margin-top: 30px; }
.ourteam-list .list-item.active .member-name { color: #e89146; }
.ourteam-list .list-item.active .sexangle-border.s-third { background: #da7443; }
.s-first,
.s-second,
.s-third { overflow: hidden; }
.s-first,
.s-second { visibility: hidden; }
.s-third { visibility: visible; }
.s-first { transform: rotate(120deg); -ms-transform: rotate(120deg); -moz-transform: rotate(120deg); -webkit-transform: rotate(120deg); display: inline-block; }
.s-second { transform: rotate(-60deg); -ms-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -webkit-transform: rotate(-60deg); }
.s-third  { transform: rotate(-60deg); -ms-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -webkit-transform: rotate(-60deg); background: url(about:blank) no-repeat center center; background-size: 100% auto; }
.container-sexangle { width: 302px; height: 262px; }
.sexangle-border { width: 302px; height: 262px; }
.sexangle-border.s-third { background: #b0b0b0; }
.sexangle-cont-box { width: 300px; height: 260px; position: relative; top: 1px; left: 1px; }
.sexangle-cont { width: 300px; height: 260px; }

/* home-student */
.home-student { background-color: #1a1a1a; height: 850px; }
.home-student .home-mod .head-title { background-position: 0 -290px; }
.home-student .home-mod .head-more { width: 93px; height: 27px; background-position: -231px -112px; }
.student-list { overflow: hidden; width: 110%; margin-top: 50px; }
.student-list .list-item { float: left; width: 316px; height: 270px; border-radius: 4px; overflow: hidden; position: relative; margin: 0 26px 26px 0; }
.student-list .list-item .pic-wrap { width: 100%; height: 100%; overflow: hidden; }
.student-list .list-item .pic-wrap .pic { height: 100%; width: auto; transition: all 500ms linear; }
.student-list .list-item:hover .pic-wrap .pic { height: 110%; }
.student-list .list-item:hover { opacity: 0.9; }
.student-list .list-item .item-title { height: 60px; width: 100%; position: absolute; bottom: 0; left: 0; color: #cccccc; font-size: 20px; line-height: 60px; text-align: center; background-color: rgba(46,46,46,0.8); }

/* footer */
.footer-wrap { background: url("../images/footer_bg.jpg") no-repeat center center; }
.footer { height: 240px; }
.list-contactus { padding-top: 32px; margin-left: 20px; }
.footer .list-title { font-size: 16px; color: #999999; line-height: 1; padding-bottom: 24px; }
.footer .list-item { color: #8a8a8a; font-size: 12px; height: 24px; line-height: 24px; padding-left: 34px; margin-bottom: 12px; background: url("../images/footer_contactus.png") no-repeat; }
.footer .list-item.address { background-position: 0 0px; }
.footer .list-item.email { background-position: 0 -32px; }
.footer .list-item.tel { background-position: 0 -67px; }
.copyright { margin-left: 20px; margin-top: 30px; font-family: "宋体"; font-size: 12px; color: #757575; }
/* go-top */
.go-top { position: fixed; display: none; right: 45px; bottom: 38px; z-index: 9999; }
.go-top a {
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANBAMAAAA6ZnEvAAAAA3NCSVQICAjb4U/gAAAAKlBMVEX///+ZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZk4FLA7AAAADnRSTlMAESIzRFV3iKq7zN3u/7+mKzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDMvMjgvMTMQU+aJAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAH9JREFUCJljYIAAzUkMKIDt7J0EZD7T3Lt3byogCeTcvXP27nEE3+ru3UaJu3cXw/jsd+9uZWCIvnu3AMJnXnv3ugADA2Pt3VsGID6QcdsBxGDZC5Zg8L57txCiVPzu3S1gcjGS4YUMc+9eQ1iXe/cmgy/EJJj5VxjYUZzMVgAALtkwayjxUjMAAAAASUVORK5CYII=);
    background-repeat: no-repeat; background-position: center 15px; width: 50px; height: 50px; text-decoration: none; border-radius: 3px; 
}
.go-top a:hover {
    border-radius: 3px;
    background-color: #999;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAANBAMAAAA6ZnEvAAAAA3NCSVQICAjb4U/gAAAAKlBMVEX///////////////////////////////////////////////////////9q+00tAAAADnRSTlMAESIzRFV3iKq7zN3u/7+mKzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDMvMjgvMTMQU+aJAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAH9JREFUCJljYIAAzUkMKIDt7J0EZD7T3Lt3byogCdTcvXP27nEE3+ru3UaJu3cXw/jsd+9uZWCIvnu3AMJnXnv3ugADA2Pt3VsGID6QcdsBxGDZC5Zg8L57txCiVPzu3S1gcjGS4YUMc+9eQ1iXe/cmgy/EJJj5VxjYUZzMVgAAORkwe22lclEAAAAASUVORK5CYII=);
}


/* 公司简介 */
.innerpage-banner { background: url("../images/banner_innerpage.jpg") no-repeat center center; height: 160px; }
.banner-inner { }
.page-title { float: left; margin-top: 60px; }
.search-wrap { float: right; margin-top: 66px; overflow: hidden; box-shadow: 0px 0px 10px rgba(232,145,70,0.4); }
.search-input { outline: none 0; float: left; border: none 0; box-sizing: border-box; width: 179px; height: 28px; line-height: 28px; padding-left: 40px; background: url("../images/search_input.png") no-repeat; color: #cccccc; font-size: 12px; font-family: "宋体"; }
.search-btn { border: none 0; outline: none 0; float: left; color: #1a1a1a; font-size: 14px; background: url("../images/search_btn.png") no-repeat; width: 48px; height: 28px; line-height: 28px; text-align: center; }
.content.innerpage { min-height: 600px; background: url("../images/innerpage_bg.jpg") no-repeat center 200px; background-color: #1a1a1a; }

.content-inner { /*overflow: hidden;*/ }
.content-container { float: left; width: 820px; }
.content-head { padding-top: 40px; padding-bottom: 20px; }
.content-head-title { box-sizing: border-box; display: inline-block; background-color: #454444; height: 40px; line-height: 40px; font-size: 20px; color: #cccccc; border-left: 6px solid #e89146; padding-left: 16px; padding-right: 42px; }
.content-body { font-family: "宋体"; color: #999999; padding-bottom: 100px; }
.content-body .p { text-indent: 28px; line-height: 32px; margin-top: 28px; }
.content-body .logo-title { font-size: 16px; margin-top: 80px; }
.content-body .logo-box { text-align: center; margin-top: 40px; }
.content-body .logo-box .img { }
.content-body .logo-box .title { font-family: "Microsoft Yahei"; font-size: 18px; line-height: 1; margin-top: 18px; margin-bottom: 24px; }
.content-body .logo-p { padding-left: 24px; line-height: 28px; position: relative; }
.content-body .p-num { width: 24px; position: absolute; left: 0; top: 0; }

.content-outline { float: right; font-size: 16px;}
.outline-list { padding: 32px 14px 1px 0; border-left: 1px solid #808080; margin-top: 68px; }
.outline-item { margin-bottom: 32px; margin-left: -9px; padding-left: 37px; background: url("../images/outline_symbol.png") no-repeat 0 -45px; }
.outline-item a { color: #8a8a8a; line-height: 1; }
.outline-item.active a { color: #e89146; }
.outline-item a.active { color: #e89146; }
.outline-item.active { background-position: 0 3px; }

/* 联系我们 */
.page-contactus .content-container { width: 100%; }
.page-contactus .content-body { position: relative; overflow: hidden; font-family: "Microsoft Yahei"; }
.QRcode-wrap { position: absolute; top: 9px; right: 0px; }
.addressinfo-list { margin-top: 20px; }
.addressinfo-list .list-title { color: #e89146; font-size: 18px; padding-bottom: 16px; }
.addressinfo-list .list-item { font-size: 16px; color: #8a8a8a; line-height: 1; margin-top: 28px; }
.addressinfo-list .item-label { color: #6b6b6b; }
.addressmap-wrap { margin: 56px auto 0 auto; width: 996px; height: 460px; overflow: hidden; border: solid 2px #676666; }

/* 成功案例 */
.innerpage.s-case { background: none; background-color: #1a1a1a; }
.s-case .content-container {
    background: url("../images/successful_case_bg.jpg") no-repeat  -219px 87px;
}
.s-case { }
.sc-list { overflow: hidden; }
.sc-list .item { float: left; box-sizing: border-box; position: relative; width: 180px; height: 240px; margin: 0 23px 30px 0; text-align: center; background-color: #000; }
.sc-list .imglink { display: inline-block; height: 100%; width: 100%; vertical-align: middle; overflow: hidden; }
.sc-list .img { height: 100%; }
.sc-list .item-title { visibility: hidden; position: absolute; bottom: 0; left: 0; height: 36px; line-height: 36px; width: 100%; font-size: 16px; color: #999999; background-color: rgba(0,0,0,0.73); }
.sc-list .item:hover .item-title { visibility: visible; }
.sc-list .item:hover { border: solid 2px #996436; border-radius: 2px; }

.s-paging { margin-top: 22px; }
.s-paging .list { overflow: hidden; font-family: "Arial"; line-height: 30px; }
.s-paging .item { float: left; margin-right: 10px; }

.s-paging .btn { box-sizing: border-box; display: block; height: 30px; width: 30px; text-align: center; color: #999999; background-color: #292929; border: solid 1px #333333; border-radius: 3px; }
.s-paging .hellip { vertical-align: bottom; }
.s-paging .item:hover .btn,
.s-paging .item.active .btn { background-color: #333333; color: #f5f5f5; }

/* 成功案例-详情 */
.sc-vs { background: url("../images/sc_detail_info.png") no-repeat 0px 15px; padding-top: 235px; }
.sc-vs .list { overflow: hidden; }
.sc-vs .item { float: left; }
.sc-vs .pic-wrap { display: table-cell; width: 280px; height: 450px; border: solid 1px #99602e; border-radius: 8px; overflow: hidden; background-color: #000; vertical-align: middle; }
.sc-vs .pic { width: 100%; }
.sc-vs .title { text-align: center; font-size: 20px; color: #999999; font-weight: normal; line-height: 1; margin-top: 26px; font-family: "Microsoft YaHei"; }
.sc-vs .vs-symbol { width: 182px; height: 450px; background: url("../images/sc_detail_vs.png") no-repeat center center; }
.sc-vs .desc { margin-top: 42px; }
.sc-vs .desc p { color: #999999; line-height: 36px; margin-bottom: 36px; text-indent: 28px; }

/* 经典相册 */
.i-gallery { }
.i-gallery .student-list { font-family: "Microsoft Yahei"; }
.i-gallery .student-list .list-item { width: 250px; height: 214px; cursor: pointer; }
.i-gallery .student-list .list-item .item-title { height: 48px; line-height: 48px; font-size: 16px; }
.student-list .list-item:hover .item-title { color: #fc9e4c; }


/* 照片详情 */
.mask-layer { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/transparent_1.png"); }
.picture-detail { display: none; }
.picture-detail .pic-wrap { box-sizing: border-box; position: absolute; width: 700px; height: 466px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 8px; top: 50%; left: 50%; margin-left: -350px; margin-top: -233px; overflow: hidden; text-align: center; }    
.picture-detail .pic-wrap .hook { display:inline-block; width:0; height:100%; overflow:hidden; margin-left:-1px; font-size:0; line-height:0; vertical-align:middle; }
.picture-detail .pic-wrap img { max-width: 100%; vertical-align: middle; }
.picture-detail .pic-wrap .close-btn { position: absolute; right: 16px; top: 16px; width: 36px; height: 36px; background: url("../images/close_btn.png") no-repeat center center; background-color: #cccccc; border-radius: 36px; }


