/* Webfont: RocketScript */@font-face {
    font-family: 'RocketScript';
    src: url('RocketScript.eot'); /* IE9 Compat Modes */
    src: url('RocketScript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RocketScript.woff') format('woff'), /* Modern Browsers */
         url('RocketScript.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RocketScript.svg#RocketScript') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

