@charset "UTF-8";

body { line-height: 1; background-color: #fafafa; }
.wrap { width: 1000px; margin: 0 auto; }
.color_key { color: #27968d; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear { clear: both; }
.align_left { text-align: left!important; }
.align_center { text-align: center!important; }
.align_right { text-align: right!important; }
.valign_top { vertical-align: top!important; }
.valign_middle { vertical-align: middle!important; }
.valign_bottom { vertical-align: bottom!important; }

/* =header */
.header { background-color: #fff; }
.header_inner { height: 120px; position: relative; }
.header .logo-site { width: 268px; height: 73px; background-image: url(../images/logo_site.png); float: left; margin-top: 20px; }
.header__nav { float: right; margin-top: 80px; }
.nav__list { }
.nav__list .list__item { float: left; margin-left: 28px; }
.nav__list .item__link { display: block; color: #4c4c4c; padding-bottom: 12px; transition: all 0.4s ease-out; border-bottom: 2px solid transparent; }
.nav__list .item__link:hover { border-bottom-color: #27968d; transform: translateY(-4px); text-shadow: 0 0px 3px rgba(0,0,0,0.2); }
.header__tel { position: absolute; top: 22px; right: 0; }

/* =banner */
.banner_innerpage { background: url(../images/inner_banner.jpg) no-repeat center center #000; }
.banner_innerpage .banner_inner  { height: 160px; }
.banner_innerpage .page-title { float: left; width: 330px; height: 100px; background-repeat: no-repeat; background-position: 0 0; margin-top: 56px; }

/* =footer */
.footer { background-color: #27968d; }
.footer_inner { height: 240px; }

.footer__link-list { float: left; min-width: 190px; margin-top: 30px; }
.footer .list__item { color: #f5f5f5; }
.footer .item__link { color: #f5f5f5; font-size: 16px; line-height: 40px; }
.footer .item__link:hover { text-decoration: underline; }
.footer .list__item_address,
.footer .list__item_email,
.footer .list__item_tel { color: #e6e6e6; line-height: 32px; background: url(../images/footer_icon.png) no-repeat; padding-left: 34px; }
.footer .list__item_address { background-position: 0 0px; margin-top: 10px; }
.footer .list__item_email { background-position: 0 -33px; }
.footer .list__item_tel { background-position: 0 -68px; }
.footer .list__item_copyright { color: #e6e6e6; margin-top: 28px; }
.footer .footer__map { float: right; margin-top: 36px; font-family: "宋体"; }

/* 联系我们 */
.contact-us__address-list {
  padding-top: 76px;
}
.contact-us__address-list .list__title {
  color: #27968d;
  font-size: 20px;
  margin-bottom: 45px;
}
.contact-us__address-list .list__item {
  color: #8a8a8a;
  font-size: 16px;
  margin-bottom: 26px;
}
.contact-us__address-list .item__label {}
.contact-us__address-map {
  width: 996px;
  height: 460px;
  border: solid 2px #3ea199;
  margin-top: 57px;
  margin-bottom: 120px;
}
