@font-face {
    font-family : 'fz_dengxian';
    src         : url('../font/fz/FZXDXJW--GB1-0.eot');
    src         : url('../font/fz/FZXDXJW--GB1-0.woff') format('woff'),
                  url('../font/fz/FZXDXJW--GB1-0.ttf') format('truetype')
                  /*,url('../font/fz/FZXDXJW--GB1-0.svg') format('svg')*/;
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : 'rocket_script';
    src         : url('../font/rocket_script/fonts/rocket_script.eot');
    src         : url('../font/rocket_script/fonts/rocket_script.woff') format('woff'),
                  url('../font/rocket_script/fonts/rocket_script.ttf') format('truetype'),
                  url('../font/rocket_script/fonts/rocket_script.svg') format('svg');
    font-weight : normal;
    font-style  : normal;
}

