@charset "UTF-8";
@import "vars";
@import "reset";
@import "base";

body {
    background-color : $page_bg;
    color            : $color-default;
}

.wrap {
    @extend %wrap;
}

.header {
    position : absolute;
    top      : 0;
    left     : 0;
    height   : 110px;
    width    : 100%;
    @include opacityBg(rgba(252, 248, 242, 0.7), '#B2FCF8F2');
    .header_inner {
        position    : relative;
        @extend %wrap;
        padding-top : 1px;
    }
    .logo {
        position    : absolute;
        left        : 50%;
        top         : 9px;
        margin-left : -62px;
    }
    .tel {
        position  : absolute;
        top       : 12px;
        right     : 0;
        color     : $color_aside;
        font-size : 18px;
    }
    .nav {
        line-height : 1;
        margin-top  : 68px;
        .list {
            @extend %clearfix;
            width       : 103%;
            margin-left : -5px;
        }
        .item_space {
            float  : left;
            width  : 242px;
            height : 1px;
        }
        .item {
            position     : relative;
            float        : left;
            margin-right : 12px;
            &.current,
            &.active {
                .link {
                    color : #1a1a1a;
                    &:after {
                        content       : "";
                        display       : block;
                        height        : 6px;
                        border-bottom : solid 2px $color_hot;
                    }
                }
                &.has-submenu {
                    @include opacityBg(rgba(229, 229, 229, 0.76), '#C1E5E5E5');
                    border        : solid 1px $color_hot;
                    border-bottom : none 0;
                    margin-left   : -2px;
                }
            }
            &:nth-last-of-type(1) {
                margin-right : 0;
            }
        }
        .link {
            display : block;
            color   : #525252;
            padding : 9px 5px 0 5px;
        }
        .submenu {
            display    : none;
            position   : absolute;
            top        : 31px;
            left       : -1px;
            padding    : 0 5px 5px 5px;
            border     : solid 1px $color_hot;
            border-top : none 0;
            @include opacityBg(rgba(229, 229, 229, 0.76), '#C1E5E5E5');
            .submenu__item {
                padding       : 4px 0;
                border-bottom : solid 1px $color_hot;
                &:nth-last-of-type(1) {
                    border-bottom : none 0;
                }
            }
            .submenu__link {
                display     : block;
                width       : 56px;
                height      : 20px;
                line-height : 20px;
                text-align  : center;
                color       : #3d3d3d;
                font-size   : 12px;
                &:hover {
                    @include opacityBg(rgba(251, 249, 250, 0.8), '#CCFBF9FA');
                    border-radius : 4px;
                }
            }
        }
    }
}

.banner {
    height : 820px;
    @at-root .slideContainer {
        .page-list-wrap {
            width    : 100%;
            height   : 100%;
            overflow : hidden;
            .page-list {
                @extend %clearfix;
                height : 100%;
                width  : 1000%;
                .page {
                    float      : left;
                    width      : 10%;
                    height     : 100%;
                    background : no-repeat center center;
                }
            }
        }

        .tab {
            position : relative;
            @extend %wrap;
            .index-list {
                position   : absolute;
                bottom     : 60px;
                left       : 0;
                width      : 100%;
                font-size  : 0;
                text-align : center;
                .index {
                    display          : inline-block;
                    width            : 56px;
                    height           : 2px;
                    background-color : #ffffff;
                    margin           : 0 4px;
                    &.active {
                        background-color : #d95990;
                    }
                }
            }
            .control {
                position : absolute;
                top      : 0;
                left     : 0;
                width    : 100%;
                .btn {
                    position   : absolute;
                    bottom     : 347px;
                    width      : 51px;
                    height     : 51px;
                    background : url(../images/icon_scroll.png) no-repeat;
                    @include opacity(30);
                    &:hover {
                        @include opacity(100);
                    }
                }
                .btn-prev {
                    left : -61px;
                }
                .btn-next {
                    right               : -61px;
                    background-position : 0 -53px;
                }
            }

        }

        .info {
            position : relative;
            @extend %wrap;
            color    : #ffffff;
            .info-inner {
                position : absolute;
                top      : 110px;
                left     : 0;
                width    : 100%;
            }
            .title {
                font-size  : 18px;
                margin-top : 110px;
            }
            .content {
                line-height : 2;
                margin-top  : 18px;
                &:before, &:after {
                    content       : "";
                    display       : block;
                    width         : 36px;
                    border-bottom : solid 2px #ffffff;
                    margin        : 12px 0;
                }
            }
        }
    }
}

.main {
    @at-root .row {
        @extend %clearfix;
        .col-4 {
            float : left;
            width : 33.333333%;
        }
    }
    @at-root .main_home {
        background-color : #fafaf5;
        .floor_1 {
            margin-top : 62px;
            @at-root .mod_news {
                .hd {
                    line-height : 1;
                    .title {
                        float : left;
                        .cn, .en {
                            display : block;
                        }
                        .cn {
                            font-size : 24px;
                            color     : $color_aside;
                            clear     : both;
                        }
                        .en {
                            font-size  : 22px;
                            color      : #7a7a7a;
                            margin-top : 8px;
                            clear      : both;
                        }
                    }
                    .symbol {
                        float            : left;
                        content          : "";
                        width            : 70px;
                        height           : 50px;
                        border-bottom    : solid 1px #c2c2c2;
                        transform        : rotate(-45deg);
                        transform-origin : left bottom;
                        margin           : 0 0 0 10px;
                    }
                    &:after {
                        content       : "";
                        clear         : both;
                        display       : block;
                        height        : 32px;
                        width         : 30px;
                        border-bottom : solid 4px $color_hot;
                    }
                }

                .bd {
                    height : 100px;
                }

                .ft {
                    .more {
                        box-sizing   : border-box;
                        display      : block;
                        width        : 60px;
                        height       : 48px;
                        line-height  : 48px;
                        color        : #5c5c5c;
                        font-size    : 20px;
                        text-indent  : -80px;
                        border       : solid 1px $color_hot;
                        padding-left : 23px;
                        background   : url(../images/icon_arrow_1.png) no-repeat -60px center $color_hot;
                        transition   : all 0.3s linear;
                        overflow     : hidden;
                        &:hover, &.hover {
                            width               : 120px;
                            text-indent         : 0;
                            background-color    : transparent;
                            background-position : 80px center;
                        }
                    }
                }
            }

        }
    }
}