@charset "UTF-8";
@font-face {
  font-family: 'fz_dengxian';
  src: url("../font/fz/FZXDXJW--GB1-0.eot");
  src: url("../font/fz/FZXDXJW--GB1-0.woff") format("woff"), url("../font/fz/FZXDXJW--GB1-0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rocket_script';
  src: url("../font/rocket_script/fonts/rocket_script.eot");
  src: url("../font/rocket_script/fonts/rocket_script.woff") format("woff"), url("../font/rocket_script/fonts/rocket_script.ttf") format("truetype"), url("../font/rocket_script/fonts/rocket_script.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*===== 清除默认的margin的属性值 =====*/
body,
blockquote,
dd,
dl,
figure,
form,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/*===== 统一设置列表的margin和padding，以及列表表形式 =====*/
menu,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/*===== 全局定义字体以及页面背景 =====*/
body {
  line-height: 1.5;
  background-color: #FFFFFF; }

body, h1, h2, h3, h4, h5, h6, input, button, select, textarea {
  font-size: 14px; }

/* 设置字体大小 */
/*===== 字体控制 =====*/
body,
input,
button,
select,
optgroup,
option,
textarea,
pre {
  font-family: "Microsoft YaHei", Arial, Roboto, "Droid Sans", "Hiragino Sans GB", "Simsun", STXihei, "sans-serif"; }

/*===== 设置iframe的背景色以及去除个别浏览器iframe底部的几个像素 =====*/
iframe {
  background-color: #FFFFFF;
  vertical-align: middle; }

/*===== 去除文本链接样式 =====*/
a {
  text-decoration: none; }

/*===== 去除个别浏览器图片底部的几个像素，以及设置图片形式链接无边框 =====*/
img {
  vertical-align: middle; }

a img {
  border: 0 none; }

/*===== 设置表单元素的样式 =====*/
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  overflow: visible;
  cursor: pointer; }

/* 尽量同意按钮的大小，如果采用input方式做的按钮 */
select {
  border: 1px inset; }

/* 统一下拉的边框 */
textarea {
  overflow: auto;
  vertical-align: text-bottom;
  *vertical-align: auto;
  border: 1px solid;
  resize: vertical; }

/* 滚动条为auto，与周边的元素对齐方式，其中hack部分是IE6&7中vertical-align影响范围清除，resize为上下可拉动，避免左右拉动破坏页面布局，如有需要可以设置为none */
/*===== 设置表格元素的样式 =====*/
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* 合并表格的间隙，去掉单元格之间的间距，如有需要合并单元格为细线表格，可增加 border-collapse:collapse; */
td, th, caption {
  padding: 0; }

/* 去除单元格以及caption表头的padding值 */
/*===== 清除样式 =====*/
i {
  font-style: normal; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

.header .nav .list:before, .slideContainer .page-list-wrap .page-list:before, .row:before, .main_home .floor_1 .floor_1__news .bd .list a:before, .main_home .floor_3 .floor_3__inner .hd:before, .main_home .floor_5 .bd .list_feature:before, .header .nav .list:after, .slideContainer .page-list-wrap .page-list:after, .row:after, .main_home .floor_1 .floor_1__news .bd .list a:after, .main_home .floor_3 .floor_3__inner .hd:after, .main_home .floor_5 .bd .list_feature:after {
  content: "";
  display: table;
  font: 0/0 a; }
.header .nav .list:after, .slideContainer .page-list-wrap .page-list:after, .row:after, .main_home .floor_1 .floor_1__news .bd .list a:after, .main_home .floor_3 .floor_3__inner .hd:after, .main_home .floor_5 .bd .list_feature:after {
  clear: both; }

.main_home .floor_1 .floor_1__news .bd .list .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.wrap, .header .header_inner, .slideContainer .tab, .slideContainer .info, .main_home .floor_3 .floor_3__inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.main_home .floor_1 .floor_1__reg .bd .form p.name .gender, .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap .page-list .page {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main_home .floor_3 .floor_3__inner .bd .col-service:hover .symbol, .main_home .floor_5 .bd .list_feature .item:hover .icon-wrap {
  animation: rotate3D-Y 1s infinite;
  -webkit-animation: rotate3D-Y 1s infinite; }

@-webkit-keyframes rotate3D-Y {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
@-moz-keyframes rotate3D-Y {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(360deg); } }
@-ms-keyframes rotate3D-Y {
  from {
    -ms-transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg); } }
@-o-keyframes rotate3D-Y {
  from {
    -o-transform: rotateY(0deg); }
  to {
    -o-transform: rotateY(360deg); } }
.banner_page .title .en {
  font-family: "rocket_script", "Microsoft YaHei", Arial, Roboto, "Droid Sans", "Hiragino Sans GB", "Simsun", STXihei, "sans-serif"; }

body {
  background-color: #fafaf5;
  color: #333333; }

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 110px;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#B2FCF8F2, endColorstr=#B2FCF8F2);
  background-color: rgba(252, 248, 242, 0.7); }
  .header .header_inner {
    position: relative;
    padding-top: 1px; }
  .header .logo {
    position: absolute;
    left: 50%;
    top: 9px;
    margin-left: -62px; }
  .header .tel {
    position: absolute;
    top: 12px;
    right: 0;
    color: #666666;
    font-size: 18px; }
  .header .nav {
    line-height: 1;
    margin-top: 68px; }
    .header .nav .list {
      width: 103%;
      margin-left: -5px; }
    .header .nav .item_space {
      float: left;
      width: 242px;
      height: 1px; }
    .header .nav .item {
      position: relative;
      float: left;
      margin-right: 12px; }
      .header .nav .item.current .link, .header .nav .item.active .link {
        color: #1a1a1a; }
        .header .nav .item.current .link:after, .header .nav .item.active .link:after {
          content: "";
          display: block;
          height: 6px;
          border-bottom: solid 2px #d95990; }
      .header .nav .item.current.has-submenu, .header .nav .item.active.has-submenu {
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#C1E5E5E5, endColorstr=#C1E5E5E5);
        background-color: rgba(229, 229, 229, 0.76);
        border: solid 1px #d95990;
        border-bottom: none 0;
        margin-left: -2px; }
      .header .nav .item:nth-last-of-type(1) {
        margin-right: 0; }
    .header .nav .link {
      display: block;
      color: #525252;
      padding: 9px 5px 0 5px; }
    .header .nav .submenu {
      display: none;
      position: absolute;
      top: 31px;
      left: -1px;
      padding: 0 5px 5px 5px;
      border: solid 1px #d95990;
      border-top: none 0;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#C1E5E5E5, endColorstr=#C1E5E5E5);
      background-color: rgba(229, 229, 229, 0.76); }
      .header .nav .submenu .submenu__item {
        padding: 4px 0;
        border-bottom: solid 1px #d95990; }
        .header .nav .submenu .submenu__item:nth-last-of-type(1) {
          border-bottom: none 0; }
      .header .nav .submenu .submenu__link {
        display: block;
        width: 56px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #3d3d3d;
        font-size: 12px; }
        .header .nav .submenu .submenu__link:hover {
          filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#CCFBF9FA, endColorstr=#CCFBF9FA);
          background-color: rgba(251, 249, 250, 0.8);
          border-radius: 4px; }

.banner {
  height: 820px; }
  .slideContainer .page-list-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .slideContainer .page-list-wrap .page-list {
      position: absolute;
      height: 100%;
      width: 1000%; }
      .slideContainer .page-list-wrap .page-list .page {
        float: left;
        width: 10%;
        height: 100%;
        background: no-repeat center center; }
  .slideContainer .tab {
    position: relative; }
    .slideContainer .tab .index-list {
      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      font-size: 0;
      text-align: center; }
      .slideContainer .tab .index-list .index {
        display: inline-block;
        width: 56px;
        height: 2px;
        background-color: #ffffff;
        margin: 0 4px; }
        .slideContainer .tab .index-list .index.active {
          background-color: #d95990; }
    .slideContainer .tab .control {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      .slideContainer .tab .control .btn {
        position: absolute;
        bottom: 347px;
        width: 51px;
        height: 51px;
        background: url(../images/icon_scroll.png) no-repeat;
        opacity: 0.3;
        filter: alpha(opacity=30); }
        .slideContainer .tab .control .btn:hover {
          opacity: 1;
          filter: alpha(opacity=100); }
      .slideContainer .tab .control .btn-prev {
        left: -61px; }
      .slideContainer .tab .control .btn-next {
        right: -61px;
        background-position: 0 -53px; }
  .slideContainer .info {
    position: relative;
    color: #ffffff; }
    .slideContainer .info .info-inner {
      position: absolute;
      top: 110px;
      left: 0;
      width: 100%; }
    .slideContainer .info .title {
      font-size: 18px;
      margin-top: 110px; }
    .slideContainer .info .content {
      line-height: 2;
      margin-top: 18px; }
      .slideContainer .info .content:before, .slideContainer .info .content:after {
        content: "";
        display: block;
        width: 36px;
        border-bottom: solid 2px #ffffff;
        margin: 12px 0; }

.row .col-4, .row .col-6 {
  float: left; }
.row .col-4 {
  width: 33.333333%; }
.row .col-6 {
  width: 50%; }
.main_home {
  background-color: #fafaf5; }
  .main_home .floor_1 {
    margin-top: 62px; }
    .mod_news .hd {
      line-height: 1; }
      .mod_news .hd .title {
        float: left;
        text-align: right; }
        .mod_news .hd .title .cn, .mod_news .hd .title .en {
          display: block; }
        .mod_news .hd .title .cn {
          font-size: 24px;
          color: #5c5c5c;
          clear: both; }
        .mod_news .hd .title .en {
          font-size: 24px;
          color: #7a7a7a;
          margin-top: 8px;
          clear: both; }
      .mod_news .hd .symbol {
        float: left;
        content: "";
        width: 70px;
        height: 50px;
        border-bottom: solid 1px #c2c2c2;
        transform: rotate(-45deg);
        transform-origin: left bottom;
        margin: 0 0 0 10px; }
      .mod_news .hd:after {
        content: "";
        clear: both;
        display: block;
        height: 32px;
        width: 30px;
        border-bottom: solid 4px #d95990; }
    .mod_news .bd {
      box-sizing: border-box;
      height: 248px;
      padding-top: 24px; }
    .mod_news .ft .more {
      box-sizing: border-box;
      display: block;
      width: 60px;
      height: 48px;
      line-height: 48px;
      color: #5c5c5c;
      font-size: 20px;
      text-indent: -80px;
      border: solid 1px #d95990;
      padding-left: 23px;
      background: url(../images/icon_arrow_1.png) no-repeat -60px center #d95990;
      transition: all 0.3s linear;
      overflow: hidden; }
      .mod_news .ft .more:hover, .mod_news .ft .more.hover {
        width: 120px;
        text-indent: 0;
        background-color: transparent;
        background-position: 80px center; }
    .main_home .floor_1 .floor_1__about .bd {
      width: 256px; }
      .main_home .floor_1 .floor_1__about .bd .pic-wrap {
        width: 256px;
        height: 120px;
        overflow: hidden; }
        .main_home .floor_1 .floor_1__about .bd .pic-wrap .pic {
          height: auto; }
      .main_home .floor_1 .floor_1__about .bd .abstract {
        text-indent: 2em;
        line-height: 1.67;
        height: 66px;
        color: #666666;
        overflow: hidden;
        margin-top: 4px; }
    .main_home .floor_1 .floor_1__news .bd {
      width: 256px; }
      .main_home .floor_1 .floor_1__news .bd .list {
        margin-top: -8px; }
        .main_home .floor_1 .floor_1__news .bd .list a {
          display: block; }
        .main_home .floor_1 .floor_1__news .bd .list .item {
          line-height: 24px;
          /*&:hover, */ }
          .main_home .floor_1 .floor_1__news .bd .list .item.active {
            border-bottom: 1px dashed #e4e4e2; }
            .main_home .floor_1 .floor_1__news .bd .list .item.active .abstract {
              display: block;
              clear: both;
              word-break: break-all; }
            .main_home .floor_1 .floor_1__news .bd .list .item.active .title {
              width: 100%; }
            .main_home .floor_1 .floor_1__news .bd .list .item.active .pubdate {
              top: 0; }
        .main_home .floor_1 .floor_1__news .bd .list .title {
          float: left;
          width: 180px;
          color: #333333; }
        .main_home .floor_1 .floor_1__news .bd .list .abstract {
          display: none;
          color: #666666;
          text-indent: 2em;
          line-height: 1.5;
          font-size: 12px;
          height: 56px;
          overflow: hidden; }
        .main_home .floor_1 .floor_1__news .bd .list .pubdate {
          float: right;
          color: #8a8a8a;
          font-size: 12px;
          position: relative;
          top: 2px; }
    .main_home .floor_1 .floor_1__reg .bd {
      width: 300px;
      background: url(../images/reg_text.png) no-repeat 0 188px; }
      .main_home .floor_1 .floor_1__reg .bd .form {
        margin-top: -4px; }
        .main_home .floor_1 .floor_1__reg .bd .form p {
          margin-bottom: 12px; }
          .main_home .floor_1 .floor_1__reg .bd .form p label {
            display: inline-block;
            color: #666666;
            min-width: 50px; }
            .main_home .floor_1 .floor_1__reg .bd .form p label:after {
              content: "：";
              float: right; }
          .main_home .floor_1 .floor_1__reg .bd .form p .form-control {
            width: 240px;
            border: none 0;
            border-bottom: solid 1px #a2a7a8;
            padding-left: 6px;
            background: 0;
            outline: none; }
          .main_home .floor_1 .floor_1__reg .bd .form p.birth label {
            width: 100px; }
          .main_home .floor_1 .floor_1__reg .bd .form p.birth .form-control {
            width: 190px; }
          .main_home .floor_1 .floor_1__reg .bd .form p.name {
            position: relative; }
            .main_home .floor_1 .floor_1__reg .bd .form p.name .gender {
              position: absolute;
              top: 0;
              right: 3px;
              color: #8a8a8a;
              height: 20px;
              width: 64px;
              letter-spacing: 6px;
              background: url(../images/icon_select.png) no-repeat right center;
              cursor: pointer; }
  .main_home .floor_2 {
    background: url(../images/column_bg_1.jpg) no-repeat center center;
    margin-top: 100px;
    overflow: hidden; }
    .main_home .floor_2 .floor_2__inner {
      height: 480px; }
    .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap {
      overflow: hidden; }
      .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap .page-list .page {
        margin: 0;
        transition: all 1s ease;
        filter: alpha(opacity=10) \9; }
        .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap .page-list .page.active {
          position: relative;
          z-index: 3;
          margin-left: -200px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
          filter: alpha(opacity=100) \9; }
        .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap .page-list .page.active_prev {
          margin-left: -35px; }
        .main_home .floor_2 .mod_column .bd .slideContainer .page-list-wrap .page-list .page.active_next {
          margin-left: -200px; }
    .mod_column .hd {
      height: 69px;
      border-bottom: solid 1px #fafafa; }
      .mod_column .hd .inner {
        width: 250px;
        height: 69px;
        line-height: 1;
        border-bottom: solid 1px #fa96c1; }
      .mod_column .hd .title {
        float: left;
        font-size: 24px;
        color: #5c5c5c;
        margin-top: 32px; }
      .mod_column .hd .more {
        float: right;
        color: #666666;
        padding: 2px 0 0 22px;
        border-left: solid 1px #666666;
        margin: 38px 80px 0 0;
        transition: margin 0.3s ease; }
        .mod_column .hd .more:hover {
          margin-right: 72px; }
    .mod_column .bd {
      height: 410px; }
      .mod_column .bd .slideContainer {
        height: 100%; }
        .mod_column .bd .slideContainer .page-list-wrap {
          position: relative;
          box-sizing: border-box;
          top: 30px;
          overflow: visible; }
          .mod_column .bd .slideContainer .page-list-wrap .page-list {
            position: absolute;
            left: 0;
            top: 0; }
            .mod_column .bd .slideContainer .page-list-wrap .page-list .page {
              width: 490px;
              height: 300px;
              margin-right: 20px;
              background-size: 420px 256px; }
              .mod_column .bd .slideContainer .page-list-wrap .page-list .page.active {
                background-size: 100% auto; }
                .mod_column .bd .slideContainer .page-list-wrap .page-list .page.active:before {
                  display: none; }
              .mod_column .bd .slideContainer .page-list-wrap .page-list .page:before {
                content: "";
                display: block;
                width: 420px;
                height: 256px;
                margin-left: 35px;
                margin-top: 22px;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#72000000, endColorstr=#72000000);
                background-color: rgba(0, 0, 0, 0.45); }
        .mod_column .bd .slideContainer .tab .index-list {
          bottom: 34px; }
          .mod_column .bd .slideContainer .tab .index-list .index {
            width: 4px;
            height: 4px;
            border-radius: 10px;
            background-color: #d95990;
            vertical-align: middle; }
            .mod_column .bd .slideContainer .tab .index-list .index.active {
              width: 10px;
              height: 10px; }
        .mod_column .bd .slideContainer .tab .control .btn {
          bottom: 208px; }
        .mod_column .bd .slideContainer .tab .control .btn-prev {
          left: 10px; }
        .mod_column .bd .slideContainer .tab .control .btn-next {
          right: 10px; }
  .main_home .floor_3 .floor_3__inner .hd {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    margin-bottom: 42px; }
    .main_home .floor_3 .floor_3__inner .hd:after {
      border: none 0;
      height: 0;
      width: 0; }
    .main_home .floor_3 .floor_3__inner .hd .title .cn, .main_home .floor_3 .floor_3__inner .hd .title .en {
      color: #7a5e6a; }
  .main_home .floor_3 .floor_3__inner .bd {
    height: 500px;
    background-color: #ffffff;
    padding: 0; }
    .main_home .floor_3 .floor_3__inner .bd .col-service {
      position: relative;
      height: 50%; }
      .main_home .floor_3 .floor_3__inner .bd .col-service .symbol {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border: solid 1px #fae555;
        margin: -11px 0 0 -11px;
        text-align: center;
        transform: rotate(45deg); }
        .main_home .floor_3 .floor_3__inner .bd .col-service .symbol:before {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          border: solid 1px #fae555;
          margin-top: 3px; }
      .main_home .floor_3 .floor_3__inner .bd .col-service .pic-wrap {
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden; }
        .main_home .floor_3 .floor_3__inner .bd .col-service .pic-wrap .pic {
          width: 100%; }
      .main_home .floor_3 .floor_3__inner .bd .col-service .desc {
        box-sizing: border-box;
        float: left;
        width: 50%;
        height: 100%;
        padding: 68px 38px 0 38px; }
        .main_home .floor_3 .floor_3__inner .bd .col-service .desc .title {
          font-size: 20px;
          line-height: 1; }
        .main_home .floor_3 .floor_3__inner .bd .col-service .desc .text {
          font-size: 12px;
          line-height: 1.6;
          color: #666666;
          margin-top: 16px; }
          .main_home .floor_3 .floor_3__inner .bd .col-service .desc .text:before {
            content: "";
            display: inline-block;
            width: 2em;
            height: 14px;
            border-left: solid 1px #666666;
            transform: rotate(30deg);
            transform-origin: left bottom; }
      .main_home .floor_3 .floor_3__inner .bd .col-service:hover {
        z-index: 10;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.65); }
  .main_home .floor_4 {
    background: url(../images/column_bg_2.jpg) no-repeat center center;
    margin-top: 80px; }
    .main_home .floor_4 .floor_4__inner {
      height: 500px; }
    .main_home .floor_4 .bd {
      height: 430px; }
    .main_home .floor_4 .slideContainer .page-list-wrap {
      overflow: hidden; }
      .main_home .floor_4 .slideContainer .page-list-wrap .page-list .page {
        position: relative;
        width: 240px;
        height: 300px;
        background: 0;
        margin-right: 14px;
        transition: all 0.5s ease; }
        .main_home .floor_4 .slideContainer .page-list-wrap .page-list .page:before {
          display: none; }
        .main_home .floor_4 .slideContainer .page-list-wrap .page-list .page:hover {
          opacity: 0.98;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.45); }
          .main_home .floor_4 .slideContainer .page-list-wrap .page-list .page:hover .title {
            color: #d95990; }
      .main_home .floor_4 .slideContainer .page-list-wrap .page-list .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 240px;
        height: 38px;
        line-height: 38px;
        color: #e5e5e5;
        text-align: center;
        transition: all 0.5s ease;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#7F000000, endColorstr=#7F000000);
        background-color: rgba(0, 0, 0, 0.5); }
    .main_home .floor_4 .slideContainer .tab .index-list {
      bottom: 42px; }
    .main_home .floor_4 .slideContainer .tab .btn {
      bottom: 224px !important; }
  .main_home .floor_5 {
    padding-bottom: 50px; }
    .main_home .floor_5 .inner {
      height: 340px; }
    .main_home .floor_5 .hd {
      width: 240px;
      line-height: 1;
      width: 240px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 54px; }
      .main_home .floor_5 .hd .title {
        font-size: 32px;
        color: #664f59; }
        .main_home .floor_5 .hd .title:after {
          content: "";
          display: block;
          height: 18px;
          width: 28px;
          border-bottom: solid 1px #d95990; }
      .main_home .floor_5 .hd .small {
        margin-top: 12px;
        color: #5c5c5c; }
    .main_home .floor_5 .bd {
      margin-top: 38px; }
      .main_home .floor_5 .bd .list_feature {
        width: 108%; }
        .main_home .floor_5 .bd .list_feature .item {
          float: left;
          text-align: center;
          margin-right: 50px;
          padding: 10px;
          border-radius: 4px; }
          .main_home .floor_5 .bd .list_feature .item:nth-last-of-type(1) {
            margin-right: 0; }
          .main_home .floor_5 .bd .list_feature .item:hover {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.45); }
          .main_home .floor_5 .bd .list_feature .item .digital {
            font-size: 32px;
            color: #664f59; }
          .main_home .floor_5 .bd .list_feature .item .abstract {
            color: #666666; }

.footer {
  background-color: #e6e6e6; }
  .footer .inner {
    height: 214px;
    padding-top: 36px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  .footer .map {
    float: left; }
  .footer .info {
    float: left;
    margin-left: 40px; }
    .footer .info .contactus .title {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 16px; }
    .footer .info .contactus .itme {
      color: #666666;
      line-height: 26px;
      font-size: 12px;
      padding-left: 34px;
      background: url(../images/icon_contact.png) no-repeat; }
      .footer .info .contactus .itme.addr {
        background-position: 0 1px; }
      .footer .info .contactus .itme.email {
        background-position: 0 -58px; }
      .footer .info .contactus .itme.tel {
        background-position: 0 -116px; }
    .footer .info .copyright {
      color: #666666;
      font-size: 12px;
      margin-top: 22px; }
      .footer .info .copyright a {
        color: #d95990;
        display: inline-block;
        line-height: 24px;
        border-bottom: dotted 1px #d95990; }
  .QR-code {
    float: right; }
    .QR-code .item {
      float: left;
      margin-left: 20px; }
      .QR-code .item p {
        line-height: 40px;
        color: #666666;
        font-size: 16px; }

.banner_page {
  padding-top: 4px;
  height: 270px;
  line-height: 1;
  background: url(../images/banner_page.jpg) no-repeat center center; }
  .banner_page .title {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 36px;
    font-family: 'fz_dengxian';
    margin-top: 166px; }
    .banner_page .title .en {
      font-size: 26px; }
      .banner_page .title .en:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 24px;
        border-right: solid 1px #fff;
        transform: rotate(30deg);
        transform-origin: right bottom;
        margin-right: 24px; }

/*# sourceMappingURL=style.css.map */
