@charset "UTF-8";
@import "vars";
@import "reset";
@import "base";

body {
    background-color : $page_bg;
    color            : $color-default;
}

.wrap {
    @extend %wrap;
}

.header {
    position : absolute;
    top      : 0;
    left     : 0;
    height   : 110px;
    width    : 100%;
    @include opacityBg(rgba(252, 248, 242, 0.7), '#B2FCF8F2');
    .header_inner {
        position    : relative;
        @extend %wrap;
        padding-top : 1px;
    }
    .logo {
        position    : absolute;
        left        : 50%;
        top         : 9px;
        margin-left : -62px;
    }
    .tel {
        position  : absolute;
        top       : 12px;
        right     : 0;
        color     : $color_aside;
        font-size : 18px;
    }
    .nav {
        line-height : 1;
        margin-top  : 68px;
        .list {
            @extend %clearfix;
            width       : 103%;
            margin-left : -5px;
        }
        .item_space {
            float  : left;
            width  : 242px;
            height : 1px;
        }
        .item {
            position     : relative;
            float        : left;
            margin-right : 12px;
            &.current,
            &.active {
                .link {
                    color : #1a1a1a;
                    &:after {
                        content       : "";
                        display       : block;
                        height        : 6px;
                        border-bottom : solid 2px $color_hot;
                    }
                }
                &.has-submenu {
                    @include opacityBg(rgba(229, 229, 229, 0.76), '#C1E5E5E5');
                    border        : solid 1px $color_hot;
                    border-bottom : none 0;
                    margin-left   : -2px;
                }
            }
            &:nth-last-of-type(1) {
                margin-right : 0;
            }
        }
        .link {
            display : block;
            color   : #525252;
            padding : 9px 5px 0 5px;
        }
        .submenu {
            display    : none;
            position   : absolute;
            top        : 31px;
            left       : -1px;
            padding    : 0 5px 5px 5px;
            border     : solid 1px $color_hot;
            border-top : none 0;
            @include opacityBg(rgba(229, 229, 229, 0.76), '#C1E5E5E5');
            .submenu__item {
                padding       : 4px 0;
                border-bottom : solid 1px $color_hot;
                &:nth-last-of-type(1) {
                    border-bottom : none 0;
                }
            }
            .submenu__link {
                display     : block;
                width       : 56px;
                height      : 20px;
                line-height : 20px;
                text-align  : center;
                color       : #3d3d3d;
                font-size   : 12px;
                &:hover {
                    @include opacityBg(rgba(251, 249, 250, 0.8), '#CCFBF9FA');
                    border-radius : 4px;
                }
            }
        }
    }
}

.banner {
    height : 820px;
    @at-root .slideContainer {
        .page-list-wrap {
            width    : 100%;
            height   : 100%;
            overflow : hidden;
            .page-list {
                @extend %clearfix;
                height : 100%;
                width  : 1000%;
                .page {
                    float      : left;
                    width      : 10%;
                    height     : 100%;
                    background : no-repeat center center;
                }
            }
        }

        .tab {
            position : relative;
            @extend %wrap;
            .index-list {
                position   : absolute;
                bottom     : 60px;
                left       : 0;
                width      : 100%;
                font-size  : 0;
                text-align : center;
                .index {
                    display          : inline-block;
                    width            : 56px;
                    height           : 2px;
                    background-color : #ffffff;
                    margin           : 0 4px;
                    &.active {
                        background-color : #d95990;
                    }
                }
            }
            .control {
                position : absolute;
                top      : 0;
                left     : 0;
                width    : 100%;
                .btn {
                    position   : absolute;
                    bottom     : 347px;
                    width      : 51px;
                    height     : 51px;
                    background : url(../images/icon_scroll.png) no-repeat;
                    @include opacity(30);
                    &:hover {
                        @include opacity(100);
                    }
                }
                .btn-prev {
                    left : -61px;
                }
                .btn-next {
                    right               : -61px;
                    background-position : 0 -53px;
                }
            }

        }

        .info {
            position : relative;
            @extend %wrap;
            color    : #ffffff;
            .info-inner {
                position : absolute;
                top      : 110px;
                left     : 0;
                width    : 100%;
            }
            .title {
                font-size  : 18px;
                margin-top : 110px;
            }
            .content {
                line-height : 2;
                margin-top  : 18px;
                &:before, &:after {
                    content       : "";
                    display       : block;
                    width         : 36px;
                    border-bottom : solid 2px #ffffff;
                    margin        : 12px 0;
                }
            }
        }
    }
}

.main {
    @at-root .row {
        @extend %clearfix;
        .col-4, .col-6 {
            float : left;
            float : left;
        }

        .col-4 {
            width : 33.333333%;
        }

        .col-6 {
            width : 50%;
        }
    }
    @at-root .main_home {
        background-color : #fafaf5;
        .floor_1 {
            margin-top : 62px;
            @at-root .mod_news {
                .hd {
                    line-height : 1;
                    .title {
                        float      : left;
                        text-align : right;
                        .cn, .en {
                            display : block;
                        }
                        .cn {
                            font-size : 24px;
                            color     : $color_title;
                            clear     : both;
                        }
                        .en {
                            font-size  : 24px;
                            color      : #7a7a7a;
                            margin-top : 8px;
                            clear      : both;
                        }
                    }
                    .symbol {
                        float            : left;
                        content          : "";
                        width            : 70px;
                        height           : 50px;
                        border-bottom    : solid 1px #c2c2c2;
                        transform        : rotate(-45deg);
                        transform-origin : left bottom;
                        margin           : 0 0 0 10px;
                    }
                    &:after {
                        content       : "";
                        clear         : both;
                        display       : block;
                        height        : 32px;
                        width         : 30px;
                        border-bottom : solid 4px $color_hot;
                    }
                }

                .bd {
                    box-sizing  : border-box;
                    height      : 248px;
                    padding-top : 24px;
                }

                .ft {
                    .more {
                        box-sizing   : border-box;
                        display      : block;
                        width        : 60px;
                        height       : 48px;
                        line-height  : 48px;
                        color        : #5c5c5c;
                        font-size    : 20px;
                        text-indent  : -80px;
                        border       : solid 1px $color_hot;
                        padding-left : 23px;
                        background   : url(../images/icon_arrow_1.png) no-repeat -60px center $color_hot;
                        transition   : all 0.3s linear;
                        overflow     : hidden;
                        &:hover, &.hover {
                            width               : 120px;
                            text-indent         : 0;
                            background-color    : transparent;
                            background-position : 80px center;
                        }
                    }
                }
            }
            .floor_1__about {
                .bd {
                    width : 256px;
                    .pic-wrap {
                        width    : 256px;
                        height   : 120px;
                        overflow : hidden;
                        .pic {
                            height : auto;
                        }
                    }
                    .abstract {
                        text-indent : 2em;
                        line-height : 1.67;
                        height      : 66px;
                        color       : $color_aside;
                        overflow    : hidden;
                        margin-top  : 4px;
                    }
                }
            }
            .floor_1__news {
                .bd {
                    width : 256px;
                    .list {
                        margin-top : -8px;
                        a {
                            display : block;
                            @extend %clearfix;
                        }
                        .item {
                            line-height : 24px;
                            /*&:hover, */
                            &.active {
                                border-bottom : 1px dashed #e4e4e2;
                                .abstract {
                                    display    : block;
                                    clear      : both;
                                    word-break : break-all;
                                }
                                .title {
                                    width : 100%;
                                }
                                .pubdate {
                                    top : 0;
                                }
                            }
                        }
                        .title {
                            float : left;
                            width : 180px;
                            color : $color_default;
                            @extend %text_overflow;
                        }
                        .abstract {
                            display     : none;
                            color       : $color_aside;
                            text-indent : 2em;
                            line-height : 1.5;
                            font-size   : 12px;
                            height      : 56px;
                            overflow    : hidden;
                        }
                        .pubdate {
                            float     : right;
                            color     : $color_small;
                            font-size : 12px;
                            position  : relative;
                            top       : 2px;
                        }
                    }
                }
            }
            .floor_1__reg {
                .bd {
                    width      : 300px;
                    background : url(../images/reg_text.png) no-repeat 0px 188px;
                    .form {
                        margin-top : -4px;
                        p {
                            margin-bottom : 12px;
                            label {
                                display   : inline-block;
                                color     : $color_aside;
                                min-width : 50px;
                                &:after {
                                    content : "：";
                                    float   : right;
                                }
                            }
                            .form-control {
                                width         : 240px;
                                border        : none 0;
                                border-bottom : solid 1px #a2a7a8;
                                padding-left  : 6px;
                                background    : 0;
                                outline       : none;
                            }
                            &.birth {
                                & label {
                                    width : 100px;
                                }
                                & .form-control {
                                    width : 190px;
                                }
                            }
                            &.name {
                                position : relative;
                                .gender {
                                    position       : absolute;
                                    top            : 0;
                                    right          : 3px;
                                    color          : $color_small;
                                    height         : 20px;
                                    width          : 64px;
                                    letter-spacing : 6px;
                                    background     : url(../images/icon_select.png) no-repeat right center;
                                    cursor         : pointer;
                                    @extend %text_unselect;
                                }
                            }
                        }
                    }
                }
            }
        }

        .floor_2 {
            background : url(../images/column_bg_1.jpg) no-repeat center center;
            margin-top : 100px;
            overflow   : hidden;
            .floor_2__inner {
                height : 480px;
            }
            .mod_column {
                .hd {
                    height        : 69px;
                    border-bottom : solid 1px #fafafa;
                    .inner {
                        width         : 250px;
                        height        : 69px;
                        line-height   : 1;
                        border-bottom : solid 1px #fa96c1;
                    }
                    .title {
                        float      : left;
                        font-size  : 24px;
                        color      : $color_title;
                        margin-top : 32px;
                    }
                    .more {
                        float       : right;
                        color       : $color_aside;
                        padding     : 2px 0 0 22px;
                        border-left : solid 1px $color_aside;
                        margin      : 38px 80px 0 0;
                        transition  : margin 0.3s ease;
                        &:hover {
                            margin-right : 72px;
                        }
                    }
                }
                .bd {
                    height : 410px;
                    .slideContainer {
                        height : 100%;
                        .page-list-wrap {
                            position   : relative;
                            box-sizing : border-box;
                            top        : 30px;
                            overflow   : visible;
                            .page-list {
                                position : absolute;
                                left     : 0;
                                top      : 0;
                                .page {
                                    width           : 490px;
                                    height          : 300px;
                                    margin-right    : 20px;
                                    background-size : 420px 256px;
                                    &.active {
                                        background-size : 100% auto;
                                        &:before {
                                            display : none;
                                        }
                                    }
                                    &:before {
                                        content     : "";
                                        display     : block;
                                        width       : 420px;
                                        height      : 256px;
                                        margin-left : ((490px - 420px) / 2);
                                        margin-top  : ((300px - 256px) / 2);
                                        @include opacityBg(rgba(0, 0, 0, 0.45), '#72000000');
                                    }
                                }
                            }
                        }
                        .tab {
                            .index-list {
                                bottom : 34px;
                                .index {
                                    width            : 4px;
                                    height           : 4px;
                                    border-radius    : 10px;
                                    background-color : $color_hot;
                                    vertical-align   : middle;
                                    &.active {
                                        width  : 10px;
                                        height : 10px;
                                    }
                                }
                            }
                            .control {
                                .btn {
                                    bottom : 208px;
                                }
                                .btn-prev {
                                    left : 10px;
                                }
                                .btn-next {
                                    right : 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .floor_3 {
            .floor_3__inner {
                @extend %wrap;
                .hd {
                    @include centerBlock(300px);
                    margin-top    : 62px;
                    margin-bottom : 42px;
                    &:after {
                        border : none 0;
                        height : 0;
                        width  : 0;
                    }
                    @extend %clearfix;
                    .title {
                        .cn, .en {
                            color : #7a5e6a;
                        }
                    }
                }
                .bd {
                    height           : 500px;
                    background-color : #ffffff;
                    padding          : 0;
                    .col-service {
                        position : relative;
                        height   : 50%;
                        .symbol {
                            position   : absolute;
                            top        : 50%;
                            left       : 50%;
                            width      : 20px;
                            height     : 20px;
                            border     : solid 1px #fae555;
                            margin     : -11px 0 0 -11px;
                            text-align : center;
                            &:before {
                                content     : "";
                                display     : inline-block;
                                width       : 12px;
                                height      : 12px;
                                border      : solid 1px #fae555;
                                margin-top : 3px;
                            }
                        }
                        .pic-wrap {
                            float    : left;
                            width    : 50%;
                            height   : 100%;
                            overflow : hidden;
                            .pic {
                                width : 100%;
                            }
                        }
                        .desc {
                            float  : left;
                            width  : 50%;
                            height : 100%;
                            .title {

                            }
                            .text {

                            }
                        }
                    }
                }
            }
        }

    }
}