.flow-container {
    // reset
    * {
        margin    : 0;
        padding   : 0;
        font-size : 100%;
    }
    font-size   : 12px;
    font-family : "Microsoft Yahei", sans-serif;
    width       : 788px;
    margin      : 20px 100px;
}