@charset "UTF-8";



/* =banner */
.banner { height: 462px; }
.banner__focus { }
.focus { height: 100%; }
.focus__inner { height: 100%; }
.focus__page-list { height: 100%; }
.focus__page-list .page-list__item { display: none; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; }
.focus__page-list .item__link { display: block; width: 100%; height: 100%; }
.focus__index_wrap { position: relative; width: 1000px; margin: 0 auto; }
.focus__index { position: absolute; bottom: 0; right: 0; padding: 16px; line-height: 1; }
.focus__index .index__item { display: inline-block; width: 9px; height: 9px; border: solid 1px #db2c35; border-radius: 10px; margin-right: 20px; }
.focus__index .index__item_active { background-color: #db2c35; } 

/* =main_home */
.main_home { min-height: 1000px; background-color: #f7f7f7; overflow: hidden; padding-bottom: 52px;}

.product-mod { }
.product-mod__head { height: 50px; border-bottom: solid 2px #333333; }
.head__title { float: left; width: 400px; height: 100%; background-repeat: no-repeat; background-position: 0 0; }
.head__link-list { float: right; color: #666666; line-height: 1; margin-top: 25px; }
.head__link-list .link-list__item { color: #666666; margin: 0 3px; }
.head__link-list .link-list__item:hover { color: #db2c35; }
.product-mod__body { overflow: hidden; }
.product-list { width: 105%; }
.product-list__item { float: left; width: 196px; height: 280px; background-color: #ffffff; margin-right: 5px; }
.product-list__item .item__pic { display: table-cell; width: 196px; height: 197px; text-align: center; vertical-align: middle; border-bottom: dashed 1px #dddddd; overflow: hidden; }
.product-list__item .item__pic .img,
.product .product__pic .img { max-width: 90%; -webkit-transition: -webkit-transform .2s linear; -moz-transition: -moz-transform .2s linear; -o-transition: -o-transform .2s linear; transition: transform .2s linear; }
.product-list__item .item__pic:hover .img,
.product .product__pic:hover .img  { -webkit-transform: translateX(-5px); -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); -o-transform: translateX(-5px); transform: translateX(-5px); }
.product-list__item .item__info { line-height: 1; padding-left: 15px; padding-top: 13px; }
.product-list__item .item__info .info__product-name { color: #333333; font-size: 14px; width: 172px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }
.product-list__item .item__info .info__price { font-size: 12px; font-family: "宋体"; }
.product-list__item .item__info .info__price_now { color: #d0040d; margin-top: 17px; }
.product-list__item .item__info .info__price_old { color: #4c4c4c; margin-top: 10px; }

.floor_grid { background-color: #ffffff; }
.floor_grid * { box-sizing: border-box; }
.floor__show  { height: 360px; }
.floor__show .show__list { width: 141px; margin: 8px auto 0 auto; }
.floor__show .show__list .list__item { line-height: 36px; height: 37px; border-bottom: dashed 1px #ffd6e1; padding: 0 6px; }
.floor__show .show__list .item__link { color: #3d3d3d; }
.floor__show .show__list .item__link:hover { color: #db2c35; }
.floor__show .show__list .item__link_left { float: left; }
.floor__show .show__list .item__link_right { float: right; }

.floor__show .show__product { margin-top: 32px; }

.product  { text-align: center; line-height: 1; }
.product_medium { }
.product_medium  .product__desc .aside { margin-top: 7px; }
.product_medium  .product__pic { height: 176px; }
.product_small, .product_big { padding-top: 30px; }

.product_small .product__desc .aside,
.product_big .product__desc .aside { font-family: "宋体"; font-size: 12px; margin-top: 10px; }
.product_small .product__pic { height: 112px; }
.product_big .product__pic { height: 290px; }
.product .product__desc .hot { color: #cc040e; }
.product .product__desc .name { color: #1a1a1a; }
.product .product__desc .aside { color: #757575; }
.product .product__pic { overflow: hidden; display: block; width: 100%; }
.product .product__pic:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }
.product .product__pic .img { vertical-align: middle; max-height: 100%; }

.grid-border_left { border-left: solid 1px #d9d9d9; }
.grid-border_top { border-top: solid 1px #d9d9d9; }
.grid-border_right { border-right: solid 1px #d9d9d9; }
.grid-border_bottom { border-bottom: solid 1px #d9d9d9; }

.floor__container { float: left; }
.grid__col_200 { float: left; width: 200px; }
.grid__col_300 { float: left; width: 300px; }
.grid__col_166 { float: left; width: 166px; }
.grid__col_167 { float: left; width: 167px; }
.grid__row_180 { height: 180px; }
.grid__row_360 { height: 360px; }
.floor__banner { height: 100%; overflow: hidden; }
.floor__banner .img { width: auto; height: 360px; }
.floor_1th,
.floor_2th,
.floor_3th,
.floor_4th { margin-top: 34px; }


/* =登陆 */
/* header_login */
.header_login { border-bottom: solid 2px #cc040e; }
.header_login__inner { height: 120px; }
.header_login__site-logo { float: left; margin-top: 47px; }
.header_login__welcome { float: right; margin-top: 14px; line-height: 1; color: #b8b8b8; }
.header_login__welcome .welcome__loin { color: #4598c8; }
.header_login__welcome .welcome__loin:hover { color: #db2c35; }

/* main_login */
.main_login { height: 600px; background-color: #f7f7f7; }

.login-container { line-height: 1; width: 350px; padding-top: 67px; margin: 0 auto; color: #333; }
.login-container * { box-sizing: border-box; }
.login__caption { font-size: 22px; color: #333333; }
.login-container input::-webkit-input-placeholder { color: #d6d6d6; }
.login-container input::-moz-placeholder { color: #d6d6d6; } /* firefox 19+ */
.login-container input:-ms-input-placeholder { color: #d6d6d6; } /* Internet Explorer 10+ */
.login-container input:-moz-placeholder { color: #d6d6d6; } /* firefox 14-18 */

.login__input { height: 56px; border: solid 1px #d6d6d6; background-color: #fff; font-size: 14px; color: #333; padding: 21px 0; }
.login__input_icon { position: absolute; top: 13px; left: 0; width: 61px; height: 28px; border-right: solid 1px #cccccc; background-repeat: no-repeat; background-position: 17px 0; }
.login__username { position: relative; margin-top: 19px; }
.login__username .username__input { width: 100%; padding-left: 68px; }
.login__username .login__input_icon { background-image: url(../images/login_icon_1.png); }
.login__password { position: relative; margin-top: 22px; }
.login__password .password__input { width: 100%; padding-left: 68px; }

.login__password .login__input_icon { background-image: url(../images/login_icon_2.png); }
.login__authcode { margin-top: 21px; }
.login__authcode .authcode__input { width: 220px; padding-left: 24px; }
.login__authcode .authcode__img_wrap { width: 110px; height: 56px; border-radius: 2px; background-color: #ebebeb; border: solid 1px #d6d6d6; float: right; }
.login__authcode .authcode__img { width: 100%; height: 100%; }
.login__authcode .authcode__change_wrap { float: right; margin-top: 18px; color: #5c5c5c; }
.login__authcode .authcode__change { color: #4598c8; }
.login__record-passwd { margin-top: 17px; }
.record-passwd_wrap { color: #5c5c5c; }
.record-passwd { vertical-align: middle; }
.record-passwd_label { padding-left: 4px; }
.login__submit { margin-top: 20px; width: 100%; height: 44px; border: solid 1px #db2c35; border-radius: 2px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#f54952), to(#db2c35)); background:-moz-linear-gradient(top, #f54952,#db2c35); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f54952,endColorstr=#db2c35,grandientType=1); font-size: 20px; color: #ffffff; letter-spacing: 4px; }
.login__aside { margin-top: 17px; color: #757575; }
.login__aside .go-reg { color: #db2c35; margin-left: 8px; }
.login__aside .indicator { font-family: "宋体"; margin-left: 7px; }


/* =reg */
.reg-container { }
.reg__input { height: 56px; border: solid 1px #d6d6d6; padding: 20px 0 20px 96px; }
.reg__tel { position: relative; margin-top: 18px; }
.reg__tel .tel__input { width: 100%; }
.reg__input_label { position: absolute; color: #5c5c5c; left: 20px; top: 22px; }
.reg__authcode { padding: 12px 0; }
.reg__authcode .authcode__input { text-align: right; width: 238px; padding-left: 0; padding-right: 12px; }
.reg__authcode .authcode__btn { float: right; width: 100px; height: 56px; color: #5c5c5c; line-height: 56px; text-align: center; border-radius: 2px; border: solid 1px #d6d6d6; }
.reg__authcode .authcode__btn:hover { position: relative; left: 1px; top: 1px; }
.reg__authcode .authcode__btn_disabled { color: #a8a8a8; background-color: #ebebeb; }
.reg__authcode .authcode__btn_disabled:hover { position: static; cursor: default; }
.reg__password { position: relative; }
.reg__password .password__input { width: 100%; }
.reg__password_repeat .password__input { border-top: none 0; }
.reg__aside { margin: 11px 0 0 7px; }
.reg__aside .service-items { color: #4598c8; }


/* =购物流程-购物车*/
.main_shopping { background-color: #f7f7f7; overflow: hidden; min-height: 400px;}
.main_shopping-cart .main_wrap { background-color: #ffffff; margin-bottom: 60px;}
.top_shopping { background-color: #f7f7f7; }
.top_shopping .top__welcome_link { color: #8f8f8f; font-size: 12px; font-family: "宋体"; padding: 10px 0 0 27px; line-height: 1.2; background: url(../images/icon_home.png) no-repeat 0 4px; }
.top_shopping .top__welcome_link:hover { color: #db2c35; }
.header_shopping { border-bottom: solid 2px #cc040e; }
.header_shopping__inner { height: 145px; }
.header_shopping__site-logo { float: left; margin-top: 33px; }
.header_shopping__process-list { float: right; background: url(../images/shopping_process.png) no-repeat 0 0; margin-top: 39px; margin-right: -6px; }
.header_shopping__process-list .list__item { float: left; width: 190px; height: 32px; text-align: center; font-size: 16px; color: #808080; line-height: 32px; }
.header_shopping__process-list .list__item_active { color: #fcfcfc; }
.header_shopping__process_1th { background-position: 0 0; }
.header_shopping__process_2th { background-position: 0 -33px; }
.header_shopping__process_3th { background-position: 0 -66px; }


.header__page-title { height: 40px; margin-top: 21px; }
.page-title__name { float: left; font-size: 20px; text-align: center; color: #f7f7f7; height: 36px; line-height: 35px; padding: 0 9px 0 11px; background-color: #333333; border-radius: 2px; }
.page-title__go-pay { float: right; color: #666666; margin-top: 6px; }
.page-title__go-pay .go-pay__btn { display: inline-block; width: 52px; height: 28px; line-height: 28px; color: #f7f7f7; background-color: #db2c35; border-radius: 2px; text-align: center; margin-left: 8px; }
.page-title__go-pay .indicator { font-family: "宋体"; margin-left: 6px; }

.table_cart { width: 960px; margin: 0 auto; margin-top: 1px; }
.table_cart__head { }
.table_cart__head .th { color: #333333; height: 59px; border-bottom: solid 1px #f0f0f0; text-align: left; }
.table_cart__head .label { margin-left: 8px; }
.table_cart__head .select { margin-left: 12px; }
.table_cart td { vertical-align: top; padding-top: 20px; padding-bottom: 20px; border-bottom: solid 1px #f0f0f0; }
.table_cart__row .select_td { vertical-align: middle; }
.table_cart__row .select { /*margin-left: 18px; */
  margin-left: 12px; }
.table_cart__row .product_table { }
.table_cart__row .product__pic { float: left; width: 78px; height: 78px; border: solid 1px #cccccc; overflow: hidden; }
.table_cart__row .product_table .product__pic:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.table_cart__row .product_table .product__pic .img { width: 100%; height: auto; vertical-align: middle; }
.table_cart__row .product_table .product__name { float: left; margin-left: 16px; width: 160px; }
.table_cart__row .product_table .product__name .link { color: #666666; }
.table_cart__row .product_table .product__name .link:hover { color: #db2c35; }

.table_cart__row .product-info { color: #666666; }
.table_cart__row .product-info__item { }
.table_cart__row .product-info__item .item__label { }
.table_cart__row .product-info__item .item__cont { }

.table_cart__row .product-price { }
.table_cart__row .product-price__old { color: #999999; }
.table_cart__row .product-price__now { color: #666666; }
.table_cart__row .product-price__discount { color: #db2c35; }
.table_cart__row .product-amount { overflow: hidden; width: 97px; margin: 0 auto; }
.table_cart__row .product-amount__item { float: left; }
.table_cart__row .product-amount__item_input { }
.table_cart__row .product-amount__item_input .input { width: 43px; height: 25px; border: solid 1px #dddddd; text-align: center; padding: 0; }
.table_cart__row .product-amount__item_ope { width: 25px; height: 25px; border: solid 1px #dfdfdf; text-align: center; color: #969696; line-height: 25px; cursor: pointer; moz-user-select: -moz-none; -moz-user-select: none; -o-user-select:none; -khtml-user-select:none; -webkit-user-select:none; -ms-user-select:none; user-select:none;}
.table_cart__row .product-amount__item_add { border-left: none 0; }
.table_cart__row .product-amount__item_reduce { border-right: none 0; }
.table_cart__row .product-amount__item_disabled { color: #cbcbcb; border-color: #efefef; cursor: default; }
.table_cart__row .product-total { color: #db2c35; }
.table_cart__row .product-ope { color: #666666; }
.table_cart__row .product-ope:hover { color: #db2c35; }

.main_shopping-cart__summary { height: 50px; line-height: 50px; border-top: solid 1px #e8e8e8; }
.summary__ope { float: left; margin-left: 29px; }
.summary__ope .ope__select { }
.summary__ope .ope__label { margin-left: 8px}
.summary__ope .ope__delete { color: #666666; text-decoration: underline; margin-left: 24px; }
.summary__ope .ope__delete:hover { color: #db2c35;  }
.summary__sum { float: right; }
.summary__sum .sum__acount { color: #db2c35; padding: 0 4px; }
.summary__sum .sum__money { font-size: 28px; color: #db2c35; vertical-align: middle; }
.summary__sum .sum__go-pay { display: inline-block; width: 150px; height: 50px; background-color: #d8d8d8; text-align: center; font-size: 20px; color: #ffffff; margin-left: 22px; }
.summary__sum .indicator { font-family: "宋体"; margin-left: 14px; }
.summary__sum .sum__go-pay:hover { background-color: #db2c35; }


/* =购物流程-确认订单 */
.main_shopping-order {padding-bottom: 67px;} 
.main_shopping-order .main_wrap { min-height: 600px; background-color: #ffffff; margin-top: 1px;}
.main_shopping-order__address { color: #333333; padding-top: 38px; padding-left: 20px; line-height: 1;}
.address__head { font-size: 16px; }
.address__body { }
.address__bread { margin-top: 28px; }
.address__bread .bread_head { }
.address__bread .bread_node { color: #3d3d3d; }
.address__table { font-family: "宋体"; color: #808080; font-size: 12px; margin-top: 30px; }
.address__table .input { border: solid 1px #dadada; border-radius: 1px; height: 23px; }
.address__table .input_textarea { width: 600px; height: 54px; }
.address__table .table__row { }
.address__table .row__label { width: 100px; text-align: right; }
.address__table .row__cont { padding: 10px 0px 10px 6px; }
.address__table .row__cont .input_tips { display: block; margin-top: 18px; }
.address__table .row__cont select { font-size: 12px; }
.address__table .row__cont .label { padding: 0 10px 0 20px; }
.address__table .label_required:after { content:"*"; font-family: "Microsoft YaHei"; color: #db2c35; vertical-align: -3px; }
.address__table .button_cancel { margin-left: 10px; }
.button_ok { border: none 0; width: 96px; height: 30px; background-color: #e6742e; color: #fcfcfc; }
.button_cancel { border: solid 1px #dadada; color: #5c5c5c; width: 60px; height: 30px; background-color: #ffffff; box-sizing: border-box; }

.main_shopping-order__confirm { }
.main_shopping-order__confirm .confirm__head { color: #333333; font-size: 16px; margin: 54px 0px 24px 20px; }
.main_shopping-order__confirm .table_cart { }
.main_shopping-order__confirm .table_cart .product_table { margin-left: 10px; }
.main_shopping-order__confirm .table_cart .product-total { padding-right: 30px; }
.main_shopping-order__confirm .table_cart  td{ background-color: #f8f8f8; }
.table_cart__row_aside { color: #666666; font-size: 12px; font-family: "宋体"; }
.table_cart__row_aside td { vertical-align: middle; padding: 0; height: 54px; border-bottom: solid 1px #f0f0f0; }
.table_cart__row_aside .input { width: 314px; height: 25px; border: solid 1px #f0f0f0; border-radius: 2px; font-size: 12px; padding-left: 6px; }
.table_cart__row_aside .send-pay { text-align: right; padding-right: 32px; }
.table_cart__row_aside .remark { padding-left: 10px; }
.table_cart__row_aside .total { text-align: right; padding-right: 30px; font-size: 14px; font-family: "Microsoft YaHei; "}
.table_cart__row_aside .total .color_key { font-size: 16px; }
.confirm__summary  { float: none; text-align: right; border-top: solid 1px #e8e8e8; margin-top: 42px; }
.confirm__summary .go-back { float: left; font-size: 12px; font-family: "宋体"; color: #666666; padding-left: 15px; line-height: 1; background: url(../images/icon_goback.png) no-repeat 0 0; margin: 20px 0 0 31px; }
.confirm__summary .sum__go-pay { line-height: 50px; }


/* =购物流程-确认订单 */
.main_shopping-success { }
.main_shopping-success .main_wrap { height: 420px; margin-top: 1px; background-color: #ffffff; margin-bottom: 80px; }
.main_shopping-success_inner { width: 500px; margin: 0 auto; padding-top: 68px; line-height: 1; }
.main_shopping-success__result { padding-bottom: 21px; background: url(../images/line.png) no-repeat 0 bottom; }
.main_shopping-success__result .result__title { font-size: 42px; color: #db2c35; line-height: 76px; padding-left: 100px; margin-left: 78px; background: url(../images/success.png) no-repeat 0 center; }
.main_shopping-success__result .result__order { color: #666666; margin-top: 50px; text-align: center; }
.main_shopping-success__result .item { margin-right: 24px; }
.main_shopping-success__result .item:nth-of-type(3) { margin-right: 0; }
.main_shopping-success__result .code { color: #e6742e; }
.main_shopping-success__aside { text-align: center; margin-top: 46px; }
.main_shopping-success__aside .aside__go-shopping { display: inline-block; width: 116px; height: 42px; line-height: 42px; font-size: 18px; text-align: center; color: #fff; background-color: #e6742e; border-radius: 3px; }
.main_shopping-success__aside .aside__order-detail { color: #707070; margin-left: 20px; }

/* =文字详情-隐私保护*/
.header_article-detail { padding-bottom: 34px; border-bottom: solid 2px #cc040e; }
.main_article-detail { }

.main_article-detail .article__title { font-size: 24px; color: #474747; line-height: 1; text-align: center; padding: 42px 0 32px 0; border-bottom: solid 1px #e6e6e6; }
.main_article-detail .article__body { font-family: "宋体"; color: #808080; padding: 40px; line-height: 2; }
.main_article-detail .article__body .title { font-family: "Microsoft Yahei"; font-size: 16px; color: #4c4c4c; line-height: 3; }
.main_article-detail p { margin-bottom: 40px; }

/* =个人中心-基本资料 */
.header_mycenter { padding-bottom: 34px; border-bottom: solid 2px #cc040e; }
.main_mycenter { background-color: #f7f7f7; }
.main_mycenter .main_wrap { padding-top: 24px; padding-bottom: 64px; }
.main_mycenter .mycenter__sidebar { float: left; width: 120px; line-height: 1; }
.main_mycenter .maycenter__container { float: right; width: 780px; background-color: #ffffff; padding: 0 40px; font-family: "宋体"; font-size: 12px; color: #4c4c4c; }
.mycenter__sidebar .sidebar__list { color: #5c5c5c; margin-bottom: 38px; }
.mycenter__sidebar .list__title { color: #333333; font-size: 16px; font-weight: bold; margin-bottom: 15px; }
.mycenter__sidebar .list__item { line-height: 2; }
.mycenter__sidebar .item__link { color: #5c5c5c; }
.mycenter__sidebar .item__link:hover { color: #d0040d; }
.mycenter__sidebar .list__item_active .item__link { color: #d0040d; }
.maycenter__container_baseinfo { min-height: 860px; }
.maycenter__container .container__head { height: 46px; line-height: 46px; border-bottom: dashed 1px #dadada; }

.table_baseinfo { margin-top: 20px; width: 100%; }
.table_baseinfo .label { width: 80px; }
.table_baseinfo .cont { padding: 12px 0; }
.table_baseinfo .label_area { vertical-align: top; padding-top: 14px; }
.table_baseinfo .cont_tips { }
.table_baseinfo .cont_tips .text{ display: inline-block; background-color: #f5f5f5; text-indent: 12px; height: 40px; width: 100%; line-height: 40px; }
.table_baseinfo .cont .input{ width: 167px; height: 28px; line-height: 28px; border: solid 1px #e6e6e6; background-color: #fcfcfc;  padding-left: 4px; }
.table_baseinfo .cont .input_textarea{ width: 360px; height: 76px;  padding-right: 4px;}
.table_baseinfo .cont .select{ border: solid 1px #abadb3; margin-right: 10px; font-size: 12px; width: 80px; }
.table_baseinfo .cont .cont__label { color: #b2b2b2; margin-left: 20px; }
.table_baseinfo .cont .label_radio { margin-right: 12px; }
.table_baseinfo .submit { border: none 0; padding: 0; background-color: #db2c35; width: 122px; height: 38px; font-size: 16px; color: #fff; font-family: "Microsoft Yahei"; margin-top: 10px; }

/* =个人中心-账号安全 */
.main_mycenter .maycenter__container_account { 
  padding-bottom: 100px;
}

/* =个人中心-账号安全 */

.table_account { margin-top: 20px; width: 100%; }
.table_account .label { width: 84px; color: #4c4c4c; text-align: right;}
.table_account .label:before { content: "*"; color: #d0040d; margin-right: 6px; vertical-align: -1px;}
.table_account .label.valign_top { padding-top: 20px;}
.table_account .cont { padding: 12px 0; }
.table_account .cont .input{ width: 163px; height: 28px; line-height: 28px; border: solid 1px #e6e6e6; background-color: #fcfcfc; padding-left: 4px;}
.table_account .cont .cont__label { color: #8f8f8f; margin-left: 20px; }
.table_account .submit { border: none 0; padding: 0; background-color: #db2c35; width: 122px; height: 38px; font-size: 16px; color: #fff; font-family: "Microsoft Yahei"; margin-top: 10px; }
.table_account .authcode { margin-top: 12px; }
.table_account .authcode__pic { width: 105px; height: 44px;}
.table_account .authcode__change { color: #8f8f8f; margin-left: 10px; vertical-align: bottom;}

.account__faq { margin-top: 72px; }
.account__faq .faq__title { font-family: "Microsoft YaHei"; font-size: 14px; color: #4598c8; margin-bottom: 10px; }
.account__faq .faq__title a { color: #4598c8; }
.account__faq .faq__item { padding-left: 16px; background: url(../images/list_style_square_1.png) no-repeat 8px center; }
.account__faq .item__link { color: #a3a3a3; line-height: 22px; }
.account__faq .item__link:hover { color: #db2c35; }

/* =个人中心-订单管理 */
.main_mycenter .maycenter__container_order { padding: 0; width: 860px; padding-bottom: 100px; }
.maycenter__container_order .container__head { border: none 0; padding-left: 40px; }

.table_order { font-family: "Microsoft YaHei"; font-size: 14px; color: #666666; width: 100%; }
.table_order .table__head { }
.table_order .table__head th { color: #333333; background-color: #e6e6e6; height: 40px; }
.table_order .table__row { }
.table_order .table__row td { text-align: center; vertical-align: top; padding-top: 20px; padding-bottom: 20px; }
.order__product { overflow: hidden; padding: 0 20px; }
.order__product .product__pic { float: left; width: 78px; height: 78px; border: solid 1px #cccccc; overflow: hidden; text-align: center; }
.order__product .product__pic:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.order__product .img { width: 100%; height: auto; vertical-align: middle; }
.order__product .product__name { float: left; margin-left: 16px; width: 140px; text-align: left; }
.order__product .product__name .link { color: #666666; }
.order__product-price { }
.order__product-price .product-price__old { color: #999999; }
.order__product-price .product-price__now { }
.order__pay { }
.order__pay_aside { color: #808080; }

.order_ope { color: #4598c8; }

.table__row_aside { vertical-align: top; line-height: 28px; }
.table__row_aside td { }
.aside_container { width: 820px; border-top: solid 1px #f4f2f2; border-bottom: solid 1px #f0f0f0; margin: 0 auto; padding: 10px 0 50px 0; }

.aside__order-num { vertical-align: middle; }
.aside__order-cancel { font-family: "宋体"; color: #4598c8; font-size: 12px; margin-left: 24px; vertical-align: -1px; }
.aside__order-total { float: right; }
.aside__order-btn { display: inline-block; width: 80px; height: 28px; line-height: 28px; text-align: center; border-radius: 2px; color: #ffffff; background-color: #db2c35; margin-left: 28px; }
.aside__order-btn_disable { background-color: #666666; cursor: not-allowed; }


/* =个人中心-收货地址(列表) */
.maycenter__container_addr .container__body { font-family: "Microsoft YaHei"; font-size: 14px; color: #4c4c4c; min-height: 600px; padding-bottom: 100px; }
.addr__btn_add { width: 100px; height: 32px; color: #808080; background-color: #f0f0f0; border: solid 1px #d6d6d6; margin-top: 20px; }
.table_address { width: 100%; margin-top: 20px; border-left: solid 1px #f0f0f0; border-right: solid 1px #f0f0f0; }
.table_address__head { }
.table_address__head th { background-color: #f0f0f0; height: 40px; }
.table_address__row { }
.table_address__row td { padding: 12px 6px; text-align: center; border-bottom: solid 1px #f0f0f0; }
.table_address__row .extra { color: #999999; }
.table_address__row .address__ope { color: #317dcb; margin: 0 6px; }
.table_address__row:nth-of-type(odd) td { background-color: #fafafa; }
.table_address__row:hover td { background-color: #dbdbdb; }

/* =个人中心-收货地址(新增) */
.maycenter__container_addr .container { background-color: #fafafa; padding: 32px 0 40px 0; margin: 20px 0; }
.table_address-add { width: 100%; font-family: "宋体"; color: #4c4c4c; font-size: 12px; }
.table_address-add td { padding: 10px 0; }
.table_address-add .label { text-align: right; width: 84px; }
.table_address-add .label:before { content: "*"; color: #d0040d; }
.table_address-add .label.valign_top { padding-top: 13px; }
.table_address-add .cont { }
.table_address-add .input { width: 160px; height: 28px; line-height: 28px; background-color: #fcfcfc; padding-left: 8px; border: solid 1px #e6e6e6; }
.table_address-add .select { margin-right: 12px; }
.table_address-add .textarea { width: 500px; height: 90px; margin-top: 20px; padding: 8px; line-height: 1.5; }
.table_address-add .checkbox_label { color: #808080; }
.table_address-add .button { border: none 0; width: 122px; height: 38px; background-color: #db2c35; border-radius: 2px; font-family: "Microsoft Yahei"; font-size: 16px; color: #fff; margin-right: 20px; }
.table_address-add .button_reset { background-color: #b3b3b3; }

/* =后台管理-订单管理 */

/* =后台管理-销售统计 */
.maycenter__container.admin__container { font-family: "Microsoft Yahei"; padding-bottom: 160px; }
.admin__shop-name { height: 50px; line-height: 50px; margin-top: 10px; }
.admin__statistic { border-top: dashed 1px #dadada; }
.admin__statistic_total { }
.admin__statistic .statistic__title { font-size: 16px; line-height: 1; padding-top: 24px; }
.admin__statistic .statistic__title .small { font-size: 12px; color: #808080; }
.admin__statistic .statistic__list { overflow: hidden; margin-top: 32px; }
.statistic__list .list__item { box-sizing: border-box; float: left; width: 250px; height: 180px; background-color: #fafafa; margin-right: 98px; padding-left: 36px; padding-top: 24px; line-height: 1; }
.statistic__list .label { font-size: 20px; }
.statistic__list .result { font-size: 28px; color: #db2c35; margin-top: 28px; }
.statistic__list .aside { color: #8f8f8f; font-family: "宋体"; font-size: 12px; margin-top: 22px; line-height: 1.8; }
.statistic__list .key { color: #ed9874; }
.admin__statistic_query { margin-top: 48px; }
.admin__statistic_query .list__item { height: 120px; }
.admin__statistic_query .result { color: #e6742e; }

.statistic__query { margin-top: 28px; margin-bottom: 46px; }
.statistic__query .item { float: left; }
.statistic__query .item_input { }
.statistic__query .item_input .label { font-family: "宋体"; color: #666666; line-height: 1; }
.statistic__query .input_date { border: solid 1px #e6e6e6; padding: 0; display: block; width: 118px; height: 26px; font-size: 14px; color: #757575; line-height: 26px; text-align: center; background-color: #fcfcfc; margin-top: 6px; }
.statistic__query .item_symbol { width: 110px; height: 24px; text-align: center; padding-top: 24px; font-size: 16px; color: #808080; background: url(../images/arrow_right.png) no-repeat center bottom; }
.statistic__query .item_btn { margin-left: 70px; padding-top: 24px; }
.statistic__query .button { width: 120px; height: 28px; background-color: #e6742e; border: none 0; font-size: 16px; color: #ffffff; }

/* =商品列表 */
.nav_list { }
.nav_list .sidebar__title { position: relative; cursor: pointer; }
.nav_list .sidebar__title .indicator { position: absolute; width: 11px; height: 6px; background: url(../images/indicator_sidebar.png) no-repeat 0 0; top: 13px; right: 19px; }
.nav_list .sidebar__title.hover .indicator { background-position: 0 -7px; }
.main_list { background-color: #f7f7f7; }
.main_list .main_wrap { overflow: hidden; }
.main_list__top { padding-top: 20px; background-color: #ffffff; position: relative; }
.main_list__top .top__symbol { position: absolute; top: 20px; left: 10px; width: 39px; height: 74px; background: url(../images/symbol_01.png) no-repeat; }
.top__list { background-color: #f1f1f1; height: 135px; padding-left: 82px; width: 103%; padding-top: 13px; }
.top__list .list__item { box-sizing: border-box; font-size: 12px; float: left; width: 280px; height: 120px; background-color: #ffffff; margin-right: 26px; padding: 10px; }
.top__list .list__item_goods { overflow: hidden; line-height: 1; }
.top__list .goods__pic_wrap { float: left; width: 100px; height: 100px; overflow: hidden; text-align: center; }
.top__list .goods__pic_wrap:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }
.top__list .goods__pic { max-width: 100%; vertical-align: middle; }
.top__list .goods__data { float: right; width: 148px; }
.top__list .data__name { color: #424242; font-size: 12px; line-height: 18px; margin-top: 4px; }
.top__list .data__price { color: #757575; margin-top: 10px; }
.top__list .data__price .key { color: #db2c35; }
.top__list .data__button { display: block; width: 72px; height: 20px; line-height: 20px; background-color: #f0f0f0; border: solid 1px #e0e0e0; border-radius: 2px; text-align: center; color: #757575; margin-top: 13px; }

.main_list__query-conditions { }
.query-conditions__head { background-color: #ffffff; height: 50px; border-bottom: solid 1px #ebebeb; }
.query-conditions__head .title { font-size: 18px; line-height: 50px; color: #333333; padding-left: 6px; }
.query-conditions__body { }
.query-conditions__row { color: #666666; padding: 4px 13px; line-height: 28px; font-family: "宋体"; font-size: 12px; border-bottom: solid 1px #ebebeb; background-color: #ffffff; }
.query-conditions__row .row__head { float: left; width: 107px; }
.query-conditions__row .row__title { }
.query-conditions__row .row__body { float: left; width: 860px; }
.query-conditions__row .row__item { float: left; color: #666666; margin-right: 40px; max-width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.query-conditions__row .row__item:hover { color: #db2c35; }


.query-conditions__sort { height: 40px; background-color: #ebebeb; font-size: 12px; margin-top: 10px; }
.sort__buttons { margin-top: 10px; font-family: "宋体"; line-height: 1; float: left; margin: 6px 0 0 5px; }
.sort__buttons .button { float: left; color: #4c4c4c; min-width: 30px; padding: 7px 14px; text-align: center; background-color: #fcfcfc; border: solid 1px #c2c2c2; }
.sort__buttons .button_2th { border-left: none 0; border-right: none 0; }
.sort__buttons .button_active { color: #fcfcfc; border-color: #db2c35; background-color: #db2c35; }
.sort__paging { float: right; font-size: 14px; margin: 8px 10px 0 0; }
.sort__paging .paging__item { float: left; }
.sort__paging .paging__item_num { font-family: "Microsoft YaHei"; color: #4c4c4c; line-height: 27px; margin-right: 17px; }
.sort__paging .page-num_current { color: #db2c35; }
.sort__paging .button { width: 48px; height: 25px; border: solid 1px #dddddd; background-color: #ffffff; color: #aaaaaa; font-family: "宋体"; cursor: pointer; }
.sort__paging .button_1th { border-right: none 0; }
.sort__paging .button_disable { background-color: #f1f1f1; color: #cccccc; cursor: not-allowed; }

.main_list__display { 
  overflow: hidden;
}
.display__list { 
  width: 104%;
  margin-top: 10px;
}
.display__list .list__item { 
  float: left;
  width: 221px;
  height: 340px;
  padding: 10px;
  background-color: #ffffff;
  margin: 0 12px 12px 0;
}
.display__list .goods-pic_wrap { 
  display: block;
  overflow: hidden;
  width: 100%;
  height: 256px;
  vertical-align: middle;
  text-align: center;
}
.display__list .goods-pic_wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.display__list .goods-pic { 
  max-height: 100%;
}
.display__list .goods-data { 
  margin-top: 10px;
  border-top: solid 1px #ebebeb;
  font-size: 16px;
  color: #5c5c5c;
  line-height: 1;
  padding-top: 20px;
}
.display__list .goods-data__name { 
  font-size: 16px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.display__list .goods-data__price { 
  margin-top: 12px;
}



