

@-webkit-keyframes rotate3D-Y {
    from {
        -webkit-transform : rotateY(0deg)
    }
    to {
        -webkit-transform : rotateY(360deg)
    }
}

@-moz-keyframes rotate3D-Y {
    from {
        -moz-transform : rotateY(0deg)
    }
    to {
        -moz-transform : rotateY(360deg)
    }
}

@-ms-keyframes rotate3D-Y {
    from {
        -ms-transform : rotateY(0deg)
    }
    to {
        -ms-transform : rotateY(360deg)
    }
}

@-o-keyframes rotate3D-Y {
    from {
        -o-transform : rotateY(0deg)
    }
    to {
        -o-transform : rotateY(360deg)
    }
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform : rotate(0deg)
    }
    to {
        -webkit-transform : rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform : rotate(0deg)
    }
    to {
        -moz-transform : rotate(360deg)
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform : rotate(0deg)
    }
    to {
        -ms-transform : rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform : rotate(0deg)
    }
    to {
        -o-transform : rotate(360deg)
    }
}


@-webkit-keyframes circle {
    from { transform : rotate(0deg); }
    to { transform : rotate(360deg); }
}

@-webkit-keyframes inner-circle {
    from { transform : rotate(0deg); }
    to { transform : rotate(-360deg); }
}
