$baseFontSize : 10px;

@mixin centerBlock($blockWidth: $page_width) {
    width        : $blockWidth;
    margin-left  : auto;
    margin-right : auto;
}

@mixin opacity($opacity:50) {
    opacity : $opacity / 100;
    filter  : alpha(opacity=$opacity);
}

@mixin opacityBg($rgbaColor:rgba(252, 248, 242, 0.7), $filterColor: '#B2FCF8F2') {
    filter           : progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#{$filterColor}, endColorstr=#{$filterColor});
    background-color : $rgbaColor;
}

@mixin transition($time:0.3s) {
    transition: all $time ease;
}

@mixin box-shadow($x:0,$y:0,$spread:5px,$color:rgba(0,0,0,0.3)) {
    box-shadow: $x $y $spread $color;
}

// pixels to rems
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

%clearfix {
    &:before,
    &:after {
        content : "";
        display : table;
        font    : 0/0 a;
    }
    &:after {
        clear : both;
    }
}

// one line
%text_overflow {
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
}

// wrap
%wrap {
    @include centerBlock($page_width);
}

%text_unselect {
    user-select         : none;
}

// animate
%rotate3D-Y {
    animation         : rotate3D-Y 1s infinite;
}

%rotate {
    animation         : rotate 1s infinite;
}

// margin overlap
%margin-overlap {
    &:before {
        content    : "";
        display    : block;
        height     : 1px;
    }
}


