/* Webfont: AovelSans-Light */@font-face {
    font-family: 'AovelSans';
    src: url('../font/AovelSans/AovelSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../font/AovelSans/AovelSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/AovelSans/AovelSans-Light.woff') format('woff'), /* Modern Browsers */
         url('../font/AovelSans/AovelSans-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

/* Webfont: Pristina-Regular */@font-face {
    font-family: 'Pristina';
    src: url('../font/Pristina/Pristina-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/Pristina/Pristina-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/Pristina/Pristina-Regular.woff') format('woff'), /* Modern Browsers */
         url('../font/Pristina/Pristina-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

/* Webfont: RocketScript */@font-face {
    font-family: 'RocketScript';
    src: url('../font/RocketScript/RocketScript.eot'); /* IE9 Compat Modes */
    src: url('../font/RocketScript/RocketScript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/RocketScript/RocketScript.woff') format('woff'), /* Modern Browsers */
         url('../font/RocketScript/RocketScript.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/RocketScript/RocketScript.svg#RocketScript') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

/* Webfont: AardvarkCafe */@font-face {
    font-family: 'AardvarkCafe';
    src: url('../font/AardvarkCafe/AardvarkCafe.eot'); /* IE9 Compat Modes */
    src: url('../font/AardvarkCafe/AardvarkCafe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/AardvarkCafe/AardvarkCafe.woff') format('woff'), /* Modern Browsers */
         url('../font/AardvarkCafe/AardvarkCafe.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/AardvarkCafe/AardvarkCafe.svg#AardvarkCafe') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}


/* Webfont: FZTJLSJW--GB1-0 方正铁筋隶书简体 */@font-face {
    font-family: 'FZTieJinLiShu-S17S';
    src: url('../font/FZTieJinLiShu-S17S/FZTJLSJW--GB1-0.eot'); /* IE9 Compat Modes */
    src: url('../font/FZTieJinLiShu-S17S/FZTJLSJW--GB1-0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/FZTieJinLiShu-S17S/FZTJLSJW--GB1-0.woff') format('woff'), /* Modern Browsers */
         url('../font/FZTieJinLiShu-S17S/FZTJLSJW--GB1-0.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

/* Webfont: FZZQJW--GB1-0 方正中倩简体 */@font-face {
    font-family: 'FZZhongQian-M16S';
    src: url('../font/FZZhongQian-M16S/FZZQJW--GB1-0.eot'); /* IE9 Compat Modes */
    src: url('../font/FZZhongQian-M16S/FZZQJW--GB1-0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/FZZhongQian-M16S/FZZQJW--GB1-0.woff') format('woff'), /* Modern Browsers */
         url('../font/FZZhongQian-M16S/FZZQJW--GB1-0.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}

/* Webfont: FZXDXJW--GB1-0 方正细等线简体 */@font-face {
    font-family: 'FZXiDengXian-Z06S';
    src: url('../font/FZXiDengXian-Z06S/FZXDXJW--GB1-0.eot'); /* IE9 Compat Modes */
    src: url('../font/FZXiDengXian-Z06S/FZXDXJW--GB1-0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/FZXiDengXian-Z06S/FZXDXJW--GB1-0.woff') format('woff'), /* Modern Browsers */
         url('../font/FZXiDengXian-Z06S/FZXDXJW--GB1-0.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}


