// color
$color_default : #333333 !default;
$color_aside : #666666;
$color_small : #8a8a8a;
$color_hot : #7d1b05;
$color_pagebg : #fcfaf3;
$color_title : #5c5c5c;
$color_title_o : #664f59;

// font
$fontSize_default : 14px;
$lineHeight_default : 1.5;
$fontFamily_default : 'Microsoft YaHei', Arial, Roboto, 'Droid Sans', 'Hiragino Sans GB', 'Simsun', STXihei, 'sans-serif';
$fontFamily_Song : "宋体", Arial, 'Microsoft YaHei';
$fontFamily_Yahei : 'Microsoft YaHei', "宋体", Arial;

// page
$page_width : 1000px;
$page_bg : $color_pagebg;