@charset "UTF-8";
@import "vars";
@import "font";
@import "reset";
@import "base";
@import "animate";
@import "public";

body {
    color            : $color-default;
    background-color : #fcfcfc;
}

.wrap {
    @extend %wrap;
}

.header {
    background-color : #fcfaf3;
    .header-inner {
        @include centerBlock($page_width);
        position : relative;
        height   : 120px;
    }
    .site-logo {
        float      : left;
        margin-top : 16px;
    }
    .hotline {
        position : absolute;
        top      : 12px;
        right    : 0;
    }
    .nav_main {
        float  : right;
        margin : 72px -12px 0 0;
    }
    @at-root .hotline {
        label {
            line-height  : 1.2;
            float        : left;
            margin-right : 10px;
        }

        span {
            font-size   : 26px;
            line-height : 32px;
            color       : #3d3d3d;
        }
    }
    @at-root .nav_main {
        @extend %clearfix;
        * {
            @include transition();
        }

        .nav__item {
            position    : relative;
            float       : left;
            font-family : $fontFamily_Song;
            margin-left : 4px;
            & > a {
                display : block;
                color   : #1a1a1a;
                padding : 0 12px 9px 12px;
            }
            &.current, &.active, &:hover {
                border-bottom : solid 2px $color_hot;
            }
            &:hover {
                .submenu {
                    display : block;
                }
            }
            .submenu {
                display          : none;
                box-sizing       : border-box;
                position         : absolute;
                left             : 0;
                top              : 100%;
                margin-top       : 2px;
                width            : 100%;
                background-color : #f5f2e9;
                background-color : rgba(245, 242, 233, 0.9);
                padding          : 12px 0 12px 12px;
                .submenu__item {
                    position     : relative;
                    font-size    : 12px;
                    line-height  : 2;
                    padding-left : 12px;
                    border-left  : solid 1px $color_hot;
                    &:before {
                        content          : "";
                        position         : absolute;
                        top              : 50%;
                        left             : -5px;
                        margin-top       : -5px;
                        width            : 7px;
                        height           : 7px;
                        border           : solid 1px $color_hot;
                        border-radius    : 10px;
                        background-color : #f5f2e9;
                    }
                    &:hover {
                        &:before {
                            background-color : $color_hot;
                            @extend %rotate3D-Y;
                        }
                        & > a {
                            color : #5c5c5c;
                        }
                    }
                    & > a {
                        color : #8f8f8f;
                    }
                }
            }
        }
    }
}

.banner {
    height     : 600px;
    background : url(../images/banner_bg_1.jpg) no-repeat center center;
    & > .inner {
        @include centerBlock($page_width);
        height   : 100%;
        position : relative;
    }
    .bread-material {
        position   : absolute;
        top        : 145px;
        right      : 120px;
        width      : 310px;
        height     : 310px;
        background : url(../images/banner_circle_bg.png) no-repeat center center;
        animation  : inner-circle 10s linear /*infinite*/;
        & > p {
            position : absolute;
            //animation : inner-circle 10s linear infinite;
            & > img {
                animation : circle 10s linear /*infinite*/;
            }
        }
        .bread-inner {
            top              : -118px;
            left             : 114px;
            transform-origin : 42px 275px;
        }
        .circle {
            top              : 34px;
            left             : -54px;
            transform-origin : 210px 112px;
        }
        .bread {
            top              : 190px;
            left             : -46px;
            transform-origin : 200px -33px;
        }
        .wheat {
            top              : 168px;
            left             : 210px;
            transform-origin : -55px -13px;
        }
    }
    @at-root .banner_page {
        line-height : 1;
        background  : url(../images/banner_page.jpg) no-repeat center center;
        .inner {
            @include centerBlock($page_width);
            height : 196px;
        }

        .title {
            float       : left;
            color       : #ffffff;
            font-size   : 36px;
            font-family : 'FZXiDengXian-Z06S', $fontFamily_default;
            margin-top  : 70px;
            &:after {
                content          : "";
                display          : block;
                width            : 30px;
                height           : 4px;
                background-color : $color_hot;
                margin-top       : 20px;
            }
            .en {
                font-size   : 26px;
                font-family : "RocketScript", $fontFamily_default;
                &:before {
                    content          : "";
                    display          : inline-block;
                    width            : 20px;
                    height           : 24px;
                    border-right     : solid 1px #ffffff;
                    transform        : rotate(30deg);
                    transform-origin : right bottom;
                    margin-right     : 24px;
                }
            }
        }
    }
}

.main {

    min-height : 1000px;

    @at-root .main_home {
        padding-bottom   : 80px;
        background-color : #fcfaf3;
        @extend %margin-overlap;
        .product-display {
            margin-top : 64px;
            @include centerBlock($page_width);
            &.mod_column {
                .hd {
                    padding-left : 340px;
                }
                .bd {
                    @at-root .thumbnail-list_product {
                        width : 1023px;
                        @extend %clearfix;
                        .thumbnail {
                            float        : left;
                            margin-right : 20px;
                            width        : 320px;
                            .pic-wrap {
                                height : 240px;
                            }

                            .caption {
                                height      : 74px;
                                line-height : 74px;
                                text-align  : center;
                                .title {
                                    font-size : 22px;
                                    color     : #3d3d3d;
                                }
                            }
                        }
                    }

                }

            }
        }

        .product-process {
            @include centerBlock($page_width);
            .hd {
                margin-top   : 68px;
                padding-left : 340px;
            }
            .bd {
                width      : 1030px;
                height     : 930px;
                background : url(../images/demo_product_process.jpg) no-repeat;
            }
        }

        .qualification-display {
            @include centerBlock($page_width);
            .hd {
                margin-top   : 68px;
                padding-left : 340px;
            }
            .bd {
                .thumbnail-list {
                    width : 1080px;
                    @extend %clearfix;
                    .thumbnail {
                        float            : left;
                        width            : 235px;
                        height           : 370px;
                        margin-right     : 20px;
                        background-color : #f6f3ec;
                        .pic-wrap {
                            height : 174px;
                            @include box-shadow($y : 2px, $color : rgba(0, 0, 0, 0.6));
                        }
                        .caption {
                            padding : 12px;
                            .title {
                                color     : #3d3d3d;
                                font-size : 16px;
                            }
                            .desc {
                                color       : $color_aside;
                                text-indent : 2em;
                                font-size   : 12px;
                                line-height : 1.67;
                                margin-top  : 8px;
                            }
                        }
                    }
                }
            }
        }
    }

    @at-root .main_page {

        @include centerBlock($page_width);
        @extend %margin-overlap;

        padding-bottom : 40px;

        .nav_pills {
            margin-top    : 52px;
            margin-bottom : 36px;
        }

        .pagination {
            margin : 60px 0 0 0;
            float  : right;
        }

        @at-root .main_contact-us {
            .contact {
                margin-top : 52px;
                .title {
                    color         : $color_title_o;
                    font-size     : 24px;
                    margin-bottom : 8px;
                }
                .item {
                    font-size   : 16px;
                    line-height : 40px;
                    label {
                        display      : inline-block;
                        color        : $color_title_o;
                        min-width    : 74px;
                        margin-right : 8px;
                        &:after {
                            content : ":";
                            float   : right;
                        }
                    }
                    .link {
                        color          : $color_default;
                        padding-bottom : 2px;
                        border-bottom  : dashed 1px $color_aside;
                        &:hover, &:focus {
                            color        : $color_hot;
                            border-color : $color_hot;
                        }
                    }
                }
            }

            .map_baidu {
                border     : solid 1px #6f5e65;
                height     : 460px;
                overflow   : hidden;
                margin-top : 28px;
            }
        }

        @at-root .main_news-list {

        }
        @at-root .main_news-detail {

        }
        @at-root .main_product-list {
            .thumbnail-list_product {
                margin-top : 40px;
                .thumbnail {
                    margin-bottom : 20px;
                }
            }
        }

        @at-root .main_about-us {
            .article {
                .section {
                    margin-bottom : 90px;
                    .title {
                        font-size : 24px;
                        color     : #3d3d3d;
                    }
                    .desc {

                    }
                }
            }
        }
    }

    @at-root .main_process {
        width: auto;
        background: url(../images/process_bg.jpg) no-repeat center 100px fixed;
        .process-list {
            padding-top : 40px;
            @include centerBlock($page_width);
        }

        .process {
            margin-bottom : 80px;
            .pic {
                display : table-cell;
                & > img {
                    width         : 180px;
                    height        : 180px;
                    border-radius : 200px;
                }
            }
            .title {
                display       : table-cell;
                padding-left  : 36px;
                padding-right : 24px;
                .num {
                    position    : relative;
                    font-family : "AovelSans", $fontFamily_default;
                    font-size   : 48px;
                    sup {
                        font-size : 0.5em;
                    }
                    &:before {
                        content          : "";
                        position         : absolute;
                        top              : -9px;
                        left             : 7px;
                        height           : 90px;
                        border-right     : solid 1px #fbc76c;
                        transform        : rotate(30deg);
                        transform-origin : left bottom;
                    }
                }
                .text {
                    font-size      : 18px;
                    color          : $color_hot;
                    vertical-align : -24px;
                }
            }
            .desc {
                display     : table-cell;
                font-size   : 16px;
                line-height : 1.67;
                color       : $color_aside;
            }
        }
    }
}

.footer {
    background-color : #e9e7e0;
    & > .inner {
        padding  : 1px 0;
        overflow : hidden;
        @include centerBlock($page_width);
    }
    .link-group-list {
        @extend %clearfix;
        width       : 1100px;
        margin-left : 56px;
        margin-top  : 36px;
        .link-group {
            float        : left;
            margin-right : 100px;
            a:hover {
                color : $color_hot !important;
            }
            .title {
                & > a {
                    color : $color_default;
                }
                margin-bottom : 4px;
            }
            .item {
                color       : #5c5c5c;
                font-size   : 12px;
                font-family : $fontFamily_Song;
                line-height : 1.67;
                & > a {
                    color : #5c5c5c;
                }
            }
            &.contact-us {
                .item {
                    padding-left : 32px;
                    line-height  : 32px;
                    background   : url(../images/icon_contact.png) no-repeat 0 0;
                }
                .address {
                    background-position : 0 5px;
                }
                .email {
                    background-position : 0 -27px;
                }
                .tel {
                    background-position : 0 -62px;
                }
            }
        }
    }
    .copyright {
        color       : $color_aside;
        line-height : 44px;
        text-align  : center;
        border-top  : solid 1px #d3d3d3;
        margin-top  : 32px;
    }
}
