@charset "UTF-8";
@import "vars";
@import "reset";
@import "base";

body {
    background-color : $color_pageBg;
    color            : $color_default;
    font-size        : pxToRem($fontSize_default);
}

.main {
    padding : 0 pxToRem(27px) pxToRem(100px) pxToRem(27px);

    @at-root .main_news {
        .list {
            .item {
                @extend %clearfix;
                height        : pxToRem(136px);
                padding       : pxToRem(16px) 0;
                border-bottom : solid 1px #cccccc;
            }
            .pic-wrap {
                float    : left;
                width    : pxToRem(140px);
                height   : pxToRem(104px);
                overflow : hidden;
                .pic {
                    width : 100%;
                }
            }
            .summary {
                float : right;
                width : pxToRem(432px);
                .title {
                    line-height : pxToRem(40px);
                    font-size   : pxToRem(32px);
                    color       : $color_default;
                    @extend %text_overflow;
                }
                .cont {
                    height      : pxToRem(64px);
                    font-size   : pxToRem(22px);
                    color       : $color_aside;
                    line-height : pxToRem(32px);
                    overflow    : hidden;
                }
            }
        }
    }

    @at-root .main_news-detail {
        .article {
            .hd {
                border-bottom : solid 1px #cccccc;
                .title {
                    font-size   : pxToRem(32px);
                    line-height : pxToRem(46px);
                }
                .aside {
                    color  : $color_aside;
                    margin : pxToRem(20px) 0;
                    .pubdate {
                        margin-right : pxToRem(22px);
                    }
                    .src {
                        color : #6e8cb9;
                    }
                }
            }
            .bd {
                padding     : pxToRem(20px) 0 pxToRem(100px) 0;
                font-size   : pxToRem(22px);
                line-height : pxToRem(38px);
                p {
                    margin      : pxToRem(22px) 0;
                    text-indent : 2em;
                }
                img {
                    max-width : 98%;
                }
            }
        }
    }

    @at-root .main_contact-us {
        .title {
            font-size   : pxToRem(32px);
            line-height : 1;
            padding-top : pxToRem(40px);
            &:before {
                content          : "";
                display          : inline-block;
                width            : pxToRem(22px);
                height           : pxToRem(22px);
                background-color : #999999;
                border-radius    : pxToRem(100px);
                margin-right     : pxToRem(12px);
            }
        }

        .map {
            height        : pxToRem(350px);
            border        : solid 2px #c4e0ec;
            border-radius : 2px;
            overflow      : hidden;
            margin-top    : pxToRem(32px);
        }

        .address {
            margin-top : pxToRem(32px);
            .label {
                font-size : pxToRem(28px);
            }
            .cont {
                font-size   : pxToRem(24px);
                text-indent : pxToRem(48px);;
            }
        }

        .contact {
            margin-top : pxToRem(32px);
            .btn {
                display             : block;
                height              : pxToRem(76px);
                color               : #f0f0f0;
                font-size           : pxToRem(40px);
                line-height         : pxToRem(76px);
                border-radius       : 2px;
                box-shadow          : 0 2px 4px rgba(0, 0, 0, 0.46);
                padding-left        : pxToRem(200px);
                background-size     : auto 100%;
                background-repeat   : no-repeat;
                background-position : pxToRem(140px) center;
                &.btn_qq {
                    background-color : #cb5d5a;
                    background-image : url(../images/icon_qq.png);
                }
                &.btn_tel {
                    margin-top       : pxToRem(24px);
                    background-color : #634c4b;
                    background-image : url(../images/icon_tel.png);
                }
            }
        }
    }

    @at-root .main_invest {
        margin : 0 pxToRem(-27px) 0 pxToRem(-27px);
        @at-root .list_invest {
            .item {
                padding          : 0 pxToRem(20px);
                background-color : #ffffff;
                margin-bottom    : pxToRem(14px);
                .hd {
                    height          : pxToRem(66px);
                    font-size       : pxToRem(28px);
                    border-bottom   : solid 1px #cccccc;
                    line-height     : 1;
                    padding         : pxToRem(22px) 0 0 pxToRem(28px);
                    background      : url(../images/icon_invest.png) no-repeat 0 center;
                    background-size : auto 100%;
                    margin-bottom   : pxToRem(10px);
                }
                .bd {
                    position : relative;
                    height   : pxToRem(200px);
                    overflow : hidden;
                    &.spread {
                        height : auto;
                        .more {
                            //display: none;
                        }
                    }
                    .article {
                        p {
                            line-height : pxToRem(34px);
                            color       : $color_aside;
                            text-indent : 2em;
                        }
                        img {
                            max-width : 98%;
                        }

                    }
                    .more {
                        content  : "[全文]";
                        position : absolute;
                        bottom   : pxToRem(4px);
                        right    : 0;
                        color    : #5b83a9;
                        cursor   : pointer;
                    }
                }
                .ft {
                    text-align : center;
                    padding    : pxToRem(28px) 0 pxToRem(18px) 0;
                    .btn {
                        border           : none 0;
                        padding          : 0;
                        width            : pxToRem(240px);
                        height           : pxToRem(48px);
                        border-radius    : 4px;
                        background-color : #c54946;
                        font-size        : pxToRem(28px);
                        color            : #ffffff;
                    }
                }
            }
        }
    }

    @at-root .main_bill {
        margin : 0 pxToRem(-27px) 0 pxToRem(-27px);
        .list_bill {
            .item {
                .bd {
                    text-align : center;
                    height     : auto;
                    padding    : pxToRem(10px) 1rem pxToRem(20px) 1rem;
                    .money {
                        color       : #c54946;
                        font-size   : pxToRem(64px);
                        line-height : pxToRem(80px);
                        &:before {
                            content       : "￥";
                            font-size     : pxToRem(40px);
                            padding-right : 0.4rem;
                        }
                        &:after {
                            //content: "元";
                        }
                    }
                    .aside {
                        color       : $color_aside;
                        line-height : 1.25;
                        .invest-date {
                            //display: block;
                        }
                    }
                }
            }
        }
    }

    @at-root .main_reg {
        .form {
            .row {
                position    : relative;
                line-height : pxToRem(70px);
                font-size   : pxToRem(26px);
                margin      : pxToRem(20px) 0;
                @extend %clearfix;
            }
            .label {
                position        : absolute;
                top             : 0;
                left            : 0;
                height          : pxToRem(70px);
                width           : pxToRem(160px);
                text-align      : right;
                padding-left    : pxToRem(44px);
                background      : url(../images/icon_reg_tel.png) no-repeat left center;
                background-size : auto 100%;
                &[for="passwd"], &[for="repeat"], {
                    background-image : url(../images/icon_reg_key.png);
                }
                &[for="username"], {
                    background-image    : url(../images/icon_reg_user.png);
                    background-position : pxToRem(8px);
                }
                &[for="authcode"] {
                    background : 0;
                }
            }
            .form-input {
                height           : pxToRem(70px);
                width            : 100%;
                border           : solid 1px #e6e6e6;
                background-color : #ffffff;
                display          : block;
                padding-left     : pxToRem(180px);
                &.form-authcode {
                    float : left;
                    width : pxToRem(370px);
                }
            }
            .btn_authcode {
                float            : right;
                width            : pxToRem(200px);
                height           : pxToRem(70px);
                border           : solid 1px #e6e6e6;
                background-color : #f5f5f5;
            }
            .btn_submit {
                border           : none 0;
                padding          : 0;
                width            : 100%;
                height           : pxToRem(76px);
                background-color : #c54946;
                color            : #ffffff;
                border-radius    : 2px;
                margin-top       : pxToRem(20px);
            }
        }
    }

    @at-root .main_coupon {
        margin : 0;
        .list_coupon {
            .item {
                border-radius    : pxToRem(8px);
                background-color : #f65c58;
                overflow         : hidden;
                padding          : 0;
                margin           : pxToRem(20px) 0 0 0;
                .hd {
                    padding-left    : 0;
                    border          : none 0;
                    font-size       : pxToRem(34px);
                    height          : pxToRem(94px);
                    background      : url(../images/title_bg.png) repeat-x 0 bottom;
                    background-size : auto 100%;
                    &:before {
                        content       : "$";
                        display       : inline-block;
                        width         : pxToRem(38px);
                        height        : pxToRem(38px);
                        line-height   : pxToRem(38px);
                        text-align    : center;
                        color         : $color_default;
                        border-radius : 10rem;
                        border        : solid 1px $color_default;
                        margin        : 0 pxToRem(14px) 0 pxToRem(10px);
                    }
                }
                .bd {
                    .money {
                        color     : #ffffff;
                        font-size : pxToRem(52px);
                        &:before {
                            font-size : pxToRem(48px);
                        }
                        &:after {
                            content     : "优惠劵";
                            font-size   : pxToRem(32px);
                            margin-left : pxToRem(20px);
                        }
                    }
                    .aside {
                        color : #ffffff;
                    }
                }
            }
        }
    }

    @at-root .main_mycenter {
        .account {
            height           : pxToRem(200px);
            background-color : #ffffff;
            .media-left {
                height       : pxToRem(200px);
                padding-left : pxToRem(28px);
            }
            .media-body {
                height       : pxToRem(200px);
                padding-left : pxToRem(24px);
                color        : $color_aside;
            }
            @at-root .media {
                .media-left {
                    display : table-cell;
                }

                .media-middle {
                    vertical-align : middle;
                }

                .media-body {
                    display : table-cell;
                }
            }
            .avatar-wrap {
                display       : inline-block;
                width         : pxToRem(140px);
                height        : pxToRem(140px);
                border-radius : 10rem;
                overflow      : hidden;
                .avatar {
                    width : 100%;
                }
            }
            .nickname {
                font-size : pxToRem(32px);
            }
            .login-name {
                font-size : pxToRem(26px);

            }
        }

        .list {
            .item {
                position        : relative;
                height          : pxToRem(80px);
                line-height     : pxToRem(80px);
                padding         : 0 0 0 pxToRem(74px);
                margin-top      : pxToRem(20px);
                background      : url(../images/icon_mycenter_1.png) no-repeat pxToRem(18px) center #ffffff;
                background-size : auto 100%;
                &.wechat {
                    background-image : url(../images/icon_mycenter_2.png);
                }
                &.invest {
                    background-image : url(../images/icon_mycenter_3.png);
                }
                &:after {
                    position        : absolute;
                    top             : 0;
                    right           : 0;
                    content         : "";
                    width           : pxToRem(38px);
                    height          : pxToRem(80px);
                    background      : url(../images/icon_mycenter_4.png) no-repeat 0 center;
                    background-size : auto 100%;
                }
                & > a {
                    display : block;
                    height  : 100%;
                }
                .text {
                    float     : left;
                    color     : $color_aside;
                    font-size : pxToRem(32px);
                }
                .label {
                    float            : left;
                    width            : pxToRem(30px);
                    height           : pxToRem(30px);
                    line-height      : pxToRem(28px);
                    font-size        : pxToRem(18px);
                    color            : #f7f0f0;
                    text-align       : center;
                    border-radius    : 10rem;
                    background-color : #cf686a;
                    margin           : pxToRem(16px) 0 0 pxToRem(6px);
                }
            }
        }
    }
}
